<div class="adminwrappercls">
  <div class="admcls">
    <app-bk-header></app-bk-header>
  </div>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;"> 

      <mat-card-content class="bred_cram_wrapper_list">
        <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Dashboard</a> </mat-list-item>

          <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">User Management</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">User Management</a> </mat-list-item>
  
          <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/customer-list-admin'">Customer lists</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/customer-list-admin'">Customer lists</a> </mat-list-item>
          
          <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a>Add Customer</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a>Add Customer</a> </mat-list-item>
   
          <mat-list-item mat-list-item *ngIf="user_details.type == 'admin' && activatedRouter.snapshot.routeConfig.path == 'Customer/edit/:_id'"> <a>Edit Customer</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate' && activatedRouter.snapshot.routeConfig.path == 'Customer/edit/:_id'"> <a>Edit Customer</a> </mat-list-item>

        </mat-list>       
      </mat-card-content>

      <span class="searchblock">
        <span class="searchblockwrapper">
          <span>
            <h2>{{ header_text }}</h2>
          </span>
        </span>
      </span>
      <mat-card-content class="newform_css">
        <!-- for admin add  -->
        <div>
          <form [formGroup]="addcustomerForm">
            <mat-form-field>
              <input matInput type="text" placeholder="First Name" formControlName="firstname" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['firstname'].valid && addcustomerForm.controls['firstname'].errors.required && addcustomerForm.controls['firstname'].touched">
                First Name field can not be blank</mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="Last Name" formControlName="lastname" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['lastname'].valid && addcustomerForm.controls['lastname'].errors.required && addcustomerForm.controls['lastname'].touched">
                Last Name field can not be blank</mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="Email" formControlName="email" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['email'].valid && addcustomerForm.controls['email'].errors.required && addcustomerForm.controls['email'].touched">
                Email field can not be blank</mat-error>
              <mat-error *ngIf="!addcustomerForm.controls['email'].valid && !addcustomerForm.controls['email'].errors.required">
                Email is not valid</mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="Phone Number" formControlName="phone" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['phone'].valid && addcustomerForm.controls['phone'].errors.required && addcustomerForm.controls['phone'].touched">
                Phone Number field can not be blank</mat-error> -->
            </mat-form-field>

            <mat-form-field *ngIf="router.url == '/add-customer'">
              <input matInput placeholder="Password" type="password" formControlName="password" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['password'].valid && addcustomerForm.controls['password'].errors.required && addcustomerForm.controls['password'].touched">
                Password field can not be blank</mat-error> -->
            </mat-form-field>

            <mat-form-field *ngIf="router.url == '/add-customer'">
              <input matInput placeholder="Confirm Password" type="password" formControlName="conpass" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['conpass'].valid && addcustomerForm.controls['conpass'].errors.required && addcustomerForm.controls['conpass'].touched">
                Confirm Password field can not be blank</mat-error>
              <mat-error *ngIf="!addcustomerForm.controls['conpass'].valid && addcustomerForm.controls['conpass'].touched">
                Password does not match
              </mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Address" type="text" formControlName="address"/>
              <!-- <mat-error *ngIf="!addcustomerForm.controls['address'].valid && addcustomerForm.controls['address'].errors.required && addcustomerForm.controls['address'].touched">
                Address field can not be blank</mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Zip Code" type="text" formControlName="zip" />
              <!-- <mat-error *ngIf="!addcustomerForm.controls['zip'].valid && addcustomerForm.controls['zip'].errors.required && addcustomerForm.controls['zip'].touched">
                Zip field can not be blank</mat-error> -->
            </mat-form-field>

          

            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                <!-- <mat-option *ngFor="let state of stateList" [value]="state.abbreviation">{{ state.name }}</mat-option> -->
                <mat-option [value]="">Select state</mat-option>
                <mat-option *ngFor="let state of stateList;" value="{{ state.name }}">{{ state.name }}</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="!addcustomerForm.controls['state'].valid && addcustomerForm.controls['state'].errors.required && addcustomerForm.controls['state'].touched">
                State field can not be blank</mat-error> -->
            </mat-form-field>


            <mat-form-field>
              <mat-label>City</mat-label>
              <mat-select formControlName="city">
                <!-- <mat-option *ngFor="let city of cityList" [value]="city.city">{{ city.city }}</mat-option> -->
                <mat-option value=0>Select city</mat-option>
                <mat-option *ngFor="let cityc of city;" value="{{ cityc }}">{{ cityc }}</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="!addcustomerForm.controls['city'].valid && addcustomerForm.controls['city'].errors.required && addcustomerForm.controls['city'].touched">
                City field can not be blank</mat-error> -->
            </mat-form-field>

            <!-- <mat-form-field [ngClass]="userType == 'affiliate' ? 'hideclasslasttiem' : 'test'">
              <mat-label>Assign SalesRep</mat-label>
              <mat-select formControlName="affiliate" (blur)="inputUntouched('affiliate')">
                <mat-option *ngFor="let rep of affiliateList" [value]="rep._id">{{ affiliate.fullname }}</mat-option>
                <mat-option>affiliate fullname</mat-option>
              </mat-select>
              <mat-error *ngIf="!addcustomerForm.controls['affiliate'].valid && addcustomerForm.controls['affiliate'].errors.required && addcustomerForm.controls['affiliate'].touched">
                affiliate field can not be blank</mat-error>
            </mat-form-field> -->

            <span class="bottompart">
              <!-- <button mat-raised-button class="btn-lg" type="button'" (click)="addcustomerFormSubmit()">
                {{ btn_text }}
              </button> -->
              <button mat-raised-button class="btn-lg" type="button'" (click)="submit()">Submit</button>
            </span>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-bk-footer></app-bk-footer>