<app-header></app-header>
<mat-card class="innerpagebanner testimonialbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>testimonial</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls testimonialwrapper" style="text-align: center;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>testimonial</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <!-- <img src="../../../../assets/images/testimonial_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->

        <mat-list role="list">
            <!----START SINGLE TESTIMONIAL-->

                <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                <mat-list-item role="listitem" class="testimonialserv">
                    <mat-card>
                        <span class="testiimgwarpper">
                            <span class="testiimgwarpper-main">
                            <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                            <img src="../../../../assets/images/testimonial-img1.jpg" class="iconcls">
                            </span>
                        </span>
                        <mat-card-content class="testicontent">
                            <!-- <span class="bnticons">
                                <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                            </span> -->
                            <span class="testibottomcontent">
                                <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                <mat-card-title class="title1">Lorem ipsum dolor sit amet</mat-card-title>
                            </span>
                            <!--<span class="rateingdiv">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </span>-->
                            <span class="quatation">
                            <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                <span [innerHtml]="testmon.testimonial"></span>
                            </p> -->
                            <p class="truncate">
                                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                            </p>
                            <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                            <a> read more</a>
                            </span>
                            
                           </mat-card-content>
                           
                    </mat-card>
                    <span class="contentsection absolute">
                            <span class="blogsociallists">
                                <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                            </span>
                            <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                        </span>
                </mat-list-item>
                <!----END SINGLE TESTIMONIAL-->


                <!----START SINGLE TESTIMONIAL-->

                <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                        <mat-list-item role="listitem" class="testimonialserv">
                                <mat-card>
                                    <span class="testiimgwarpper">
                                        <span class="testiimgwarpper-main">
                                            <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                                            <img src="../../../../assets/images/testimonial-img2.jpg" class="iconcls">
                                        </span>
                                    </span>
                                    <mat-card-content class="testicontent">
                                        <!-- <span class="bnticons">
                                            <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                            <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                                        </span> -->
                                        <span class="testibottomcontent">
                                            <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                            <mat-card-title class="title1">Lorem ipsum dolor</mat-card-title>
                                        </span>
                                        <!--<span class="rateingdiv">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </span>-->
                                        <span class="quatation">
                                        <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                            <span [innerHtml]="testmon.testimonial"></span>
                                        </p> -->
                                        <p class="truncate">
                                                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                                        </p>
                                        <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                                        <a> read more</a>
                                        </span>
                                        
                                       </mat-card-content>
                                       
                                </mat-card>
                                <span class="contentsection absolute">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                            <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                            <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                            <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                            <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                            <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                        </span>
                                        <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                                    </span>
                            </mat-list-item>
            
                            <!----END SINGLE TESTIMONIAL-->

                            <!----START SINGLE TESTIMONIAL-->

                <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                        <mat-list-item role="listitem" class="testimonialserv">
                                <mat-card>
                                    <span class="testiimgwarpper">
                                        <span class="testiimgwarpper-main">
                                            <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                                            <img src="../../../../assets/images/testimonial-img3.jpg" class="iconcls">
                                        </span>
                                    </span>
                                    <mat-card-content class="testicontent">
                                        <!-- <span class="bnticons">
                                            <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                            <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                                        </span> -->
                                        <span class="testibottomcontent">
                                            <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                            <mat-card-title class="title1">Lorem ipsum dolor</mat-card-title>
                                        </span>
                                        <!--<span class="rateingdiv">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </span>-->
                                        <span class="quatation">
                                        <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                            <span [innerHtml]="testmon.testimonial"></span>
                                        </p> -->
                                        <p class="truncate">
                                                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                                        </p>
                                        <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                                        <a> read more</a>
                                        </span>
                                        
                                       </mat-card-content>
                                       
                                </mat-card>
                                <span class="contentsection absolute">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                            <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                            <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                            <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                            <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                            <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                        </span>
                                        <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                                    </span>
                            </mat-list-item>
            
                            <!----END SINGLE TESTIMONIAL-->

                            <!----START SINGLE TESTIMONIAL-->

                        <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                        <mat-list-item role="listitem" class="testimonialserv">
                                <mat-card>
                                    <span class="testiimgwarpper">
                                        <span class="testiimgwarpper-main">
                                            <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                                            <img src="../../../../assets/images/testimonial-img4.jpg" class="iconcls">
                                        </span>
                                    </span>
                                    <mat-card-content class="testicontent">
                                        <!-- <span class="bnticons">
                                            <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                            <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                                        </span> -->
                                        <span class="testibottomcontent">
                                            <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                            <mat-card-title class="title1">Lorem ipsum dolor</mat-card-title>
                                        </span>
                                        <!--<span class="rateingdiv">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </span>-->
                                        <span class="quatation">
                                        <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                            <span [innerHtml]="testmon.testimonial"></span>
                                        </p> -->
                                        <p class="truncate">
                                                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                                        </p>
                                        <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                                        <a> read more</a>
                                        </span>
                                                                      
                                    </mat-card-content>
                                    
                                                
                                </mat-card>
                                <span class="contentsection absolute">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                            <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                            <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                            <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                            <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                            <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                        </span>
                                        <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                                    </span>
                            </mat-list-item>
            
                            <!----END SINGLE TESTIMONIAL-->

                            <!----START SINGLE TESTIMONIAL-->

                        <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                        <mat-list-item role="listitem" class="testimonialserv">
                            <mat-card>
                                <span class="testiimgwarpper">
                                    <span class="testiimgwarpper-main">
                                        <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                                        <img src="../../../../assets/images/testimonial-img5.jpg" class="iconcls">
                                    </span>
                                </span>
                                <mat-card-content class="testicontent">
                                    <!-- <span class="bnticons">
                                        <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                        <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                                    </span> -->
                                    <span class="testibottomcontent">
                                        <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                        <mat-card-title class="title1">Lorem ipsum dolor</mat-card-title>
                                    </span>
                                    <!--<span class="rateingdiv">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </span>-->
                                    <span class="quatation">
                                    <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                        <span [innerHtml]="testmon.testimonial"></span>
                                    </p> -->
                                    <p class="truncate">
                                            <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                                    </p>
                                    <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                                    <a> read more</a>
                                    </span>
                                                                  
                                </mat-card-content>
                                
                                            
                            </mat-card>
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>
                                    <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                                </span>
                        </mat-list-item>
        
                        <!----END SINGLE TESTIMONIAL-->

                        <!----START SINGLE TESTIMONIAL-->

                        <!-- <mat-list-item role="listitem" class="testimonialserv" *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index"> -->
                            <mat-list-item role="listitem" class="testimonialserv">
                                <mat-card>
                                    <span class="testiimgwarpper">
                                        <span class="testiimgwarpper-main">
                                            <!-- <img src="{{testmon.image}}" class="iconcls"> -->
                                            <img src="../../../../assets/images/testimonial-img6.jpg" class="iconcls">
                                        </span>
                                    </span>
                                    <mat-card-content class="testicontent">
                                        <!-- <span class="bnticons">
                                            <button *ngIf="testmon.video" (click)="showvideo()"><img src="../../../../assets/images/videoicon.png"></button>
                                            <button *ngIf="testmon.audio" (click)="showaudio()"><img src="../../../../assets/images/audioicon.png"></button>
                                        </span> -->
                                        <span class="testibottomcontent">
                                            <!-- <mat-card-title class="title1">{{testmon.name}}</mat-card-title> -->
                                            <mat-card-title class="title1">Lorem ipsum dolor</mat-card-title>
                                        </span>
                                        <!--<span class="rateingdiv">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </span>-->
                                        <span class="quatation">
                                        <!-- <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                                            <span [innerHtml]="testmon.testimonial"></span>
                                        </p> -->
                                        <p class="truncate">
                                                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon.png"><span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><img class="quoteendicon" src="../../../../assets/images/quoteend-icon.png">
                                        </p>
                                        <!-- <a *ngIf="testmon.testimonial != '' && testmon != '' && testmon.testimonial.length >= 254 " [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a> -->
                                        <a> read more</a>
                                        </span>
                                                                      
                                    </mat-card-content>
                                    
                                                
                                </mat-card>
                                <span class="contentsection absolute">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                            <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                            <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                            <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                            <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                            <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                        </span>
                                        <span class="author"><p class="date">Date: 12-11-2019</p></span>                                    
                                    </span>
                            </mat-list-item>
            
                            <!----END SINGLE TESTIMONIAL-->

            </mat-list>
            <button *ngIf="indexval.length > indexval" (click)="showMoreFunc()" mat-stroked-button class="btngeneral btngray">Load more</button>
            <!-- <button (click)="showMoreFunc()" mat-stroked-button class="btngeneral btngray">Load more</button> -->
    </span> 
</mat-card>

<app-footer></app-footer>