<app-header></app-header>
<mat-card class="innerpagebanner speakerengagementsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>speaker engagements</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls speakerengagementswrapper" style="background: #f2f4f4 !important;">
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>speaker engagements</h2>
            <p>
                Want me to speak at your event or attend an event where I would be speaking next? Check out my upcoming Speaking Engagements and reserve<br> your spot at the event in advance. You can also contact me to speak at your next event, and I’ll work on accommodating you in my schedule!
            </p>
        </mat-card-content>
    </span>
    <mat-card class="event_wrapper">


        <mat-card-content class="event_right">
            <h2>PAst speaker engagements</h2>

            <span class="event_right_blog" *ngFor="let pasteventsem of SpeakerListArry | slice:0:indexval; let i=index">
                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">
                <span class="event_right_blog_img">
                    <img src="{{pasteventsem.image}}"   >
                </span>
                <span class="event_right_blog_text">

                    <p [innerHtml]="pasteventsem.title"></p>

                    <label>{{pasteventsem.date}}</label>

                    <button (click)="detail(pasteventsem._id)">Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>

</span>
                    </span>
            </span>

            <button *ngIf="indexvallength > indexval && indexvallength !=null" class="viewalleventbtn" (click)="blogloadmore()">View More</button>

        </mat-card-content>

        <mat-card-content class="event_left">

            <span class="event_blog" *ngFor="let eventsem of SpeakerListArry | slice:0:indexvalleft; let i=index" >
            <span class="event_blog_top">

           <label>{{eventsem.date}}</label>
            <p>Conference Room • {{eventsem.location}}</p>
             </span>
                <h3>{{eventsem.title}} – {{eventsem.time}}</h3>

           <span  class="event_img"> <img src="{{eventsem.image}}"  ></span>

             <p class="event_text">  <span class="spantext" [innerHtml]="eventsem.description"></span> <a href="javascript:void(0);" (click)="detail(eventsem._id)">Continue Reading</a></p>


                <span class="event_share_block">
                    <img src="../../../../assets/images/share_img1.jpg"  >
                    <img src="../../../../assets/images/share_img2.jpg"  >
                    <img src="../../../../assets/images/share_img3.jpg"  >
                    <img src="../../../../assets/images/share_img4.jpg"  >
                    <img src="../../../../assets/images/share_img5.jpg"  >
                    <img src="../../../../assets/images/share_img6.jpg"  >

                </span>

           </span>


            <button *ngIf="indexvalleftlengthlength > indexvalleft && indexvalleftlengthlength !=null" class="viewalleventbtn" (click)="blogloadmorenew()">View More</button>

        </mat-card-content>







        <span class="clear"></span>


    </mat-card>
</mat-card>

<app-footer></app-footer>