<div class="adminwrappercls">
    <div class="admcls"><app-bk-header></app-bk-header></div>
        <div class="main-content-wrap">
          <mat-card class="generalcls blog" style="padding: 0 !important;">  
            <mat-card-content class="bred_cram_wrapper_list">
              <mat-list class="bred_cram_wrapper">
                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
                <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Dashboard</a> </mat-list-item>
        
                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Manage website</a> </mat-list-item>
                <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Manage website</a> </mat-list-item>
        
                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a>Newsletter Lists</a> </mat-list-item>
                <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a>Newsletter Lists</a> </mat-list-item>
              </mat-list>       
          </mat-card-content>
            <span class="searchblock">
                <span class="searchblockwrapper">
                    <span>
                        <h2>ADD SENDER EMAIL  </h2>
                    </span>            
                </span>
            </span>
            <lib-add-edit-sender [config]="configAddEditSender"></lib-add-edit-sender>

          </mat-card>
        </div> 
    </div>
  <app-bk-footer></app-bk-footer>