
        <button mat-button class="btngreen sim-button" [routerLink]="['/subscriber-group/add']"><i class="material-icons">add</i> Add Subscribers Group</button>
  
    <lib-listing-subcategory [config]="subscriptionCatForm"></lib-listing-subcategory>

<div class="adminwrappercls" style="display: none;">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  


            <mat-card-content class="adm_inner_banner manageblog">
                <mat-card-title class="adm_inner_title">newsletter management</mat-card-title>
                <p class="adm_inner_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type specimen book.</p>
              </mat-card-content>



              <mat-card-content class="bred_cram_wrapper">
                <a mat-list-item routerLinkActive="active"> Dashboard </a>
                <a mat-list-item routerLinkActive="active"> Manage Website </a>
                <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/newsletter-list'"> newsletter management </a>
            </mat-card-content>

            <mat-tab-group class="tabwrapper">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h2 class="innertitle2">Newsletter List</h2>
                    </ng-template>          
                  <ng-template matTabContent>    
                    <span class="bloglists">      
                      
                      <!-- Selector -->
                        <!-- <app-listing-blogs></app-listing-blogs> -->
                        <mat-card>
                            <span class="searchblock">
                                <span class="searchblockwrapper">
                                    <span>
                                        <h2>Newsletter List </h2>
                                    </span>
                                    <span>
                                        <button mat-button class="btngreen sim-button" [routerLink]="['/newsletter/add']"><i class="material-icons">add</i> Add Newsletter</button>
                                    </span>                    
                                </span>
                            </span>
                            <div class="tablediv">
                                <lib-listing-newsletterlib [config]="newsConfigForm"></lib-listing-newsletterlib>

                              
                            </div>
                        </mat-card>
                    </span>
                  </ng-template>
                </mat-tab>


                <mat-tab>
                    <ng-template mat-tab-label>
                        <h2 class="innertitle2">Subscriber List </h2>
                    </ng-template>          
                  <ng-template matTabContent>    
                    <span class="bloglists">      
                      
                      <!-- Selector -->
                        <!-- <app-listing-blogs></app-listing-blogs> -->
                        <mat-card>
                            <span class="searchblock">
                                <span class="searchblockwrapper">
                                    <span>
                                        <h2>Subscriber List </h2>
                                    </span>
                                    <span>
                                        <button mat-button class="btngreen sim-button" [routerLink]="['/subscriber/add']"><i class="material-icons">add</i> Add Subscriber</button>
                                    </span>                    
                                </span>
                            </span>
                            <div class="tablediv">
                               
                                    <lib-listing-newsletter [config]="subscriptionForm" ></lib-listing-newsletter>
                              
                            </div>
                        </mat-card>
                    </span>
                  </ng-template>
                </mat-tab>





                <mat-tab>
                    <ng-template mat-tab-label>
                        <h2 class="innertitle2">Subscribers Group List  </h2>
                    </ng-template>          
                  <ng-template matTabContent>    
                    <span class="bloglists">      
                      
                      <!-- Selector -->
                        <!-- <app-listing-blogs></app-listing-blogs> -->
                        <mat-card>
                            <span class="searchblock">
                                <span class="searchblockwrapper">
                                    <span>
                                        <h2>Subscribers Group List  </h2>
                                    </span>
                                    <span>
                                        <button mat-button class="btngreen sim-button" [routerLink]="['/subscriber-group/add']"><i class="material-icons">add</i> Add Subscribers Group</button>
                                    </span>                    
                                </span>
                            </span>
                            <div class="tablediv">
                               
                                    <lib-listing-subcategory [config]="subscriptionCatForm"></lib-listing-subcategory>
                              
                            </div>
                        </mat-card>
                    </span>
                  </ng-template>
                </mat-tab>



                <mat-tab>
                    <ng-template mat-tab-label>
                        <h2 class="innertitle2">Settings  </h2>
                    </ng-template>          
                  <ng-template matTabContent>    
                    <span class="bloglists">      
                      
                      <!-- Selector -->
                        <!-- <app-listing-blogs></app-listing-blogs> -->
                        <mat-card>
                            <span class="searchblock">
                                <span class="searchblockwrapper">
                                    <span>
                                        <h2>Settings </h2>
                                    </span>
                                    <span>
                                        <button mat-button class="btngreen sim-button" [routerLink]="['/sender/add']"><i class="material-icons">add</i> Add </button>
                                    </span>  
                                    <span>
                                            <button mat-button class="btngreen sim-button" [routerLink]="['/testemail/add']"><i class="material-icons">add</i> Add </button>
                                        </span>                  
                                </span>
                            </span>
                            <div class="tablediv">
                               
                                    <lib-listing-sender [config]="senderConfigForm"></lib-listing-sender>



                                    <lib-listing-testemaillib [config]="testemailConfigForm"></lib-listing-testemaillib>
                              
                            </div>
                        </mat-card>
                    </span>
                  </ng-template>
                </mat-tab>



                
               
                       
             </mat-tab-group>


        </mat-card>
      </div>
  </div>
<app-footer></app-footer>