<app-header></app-header>
<mat-card class="innerpagebanner homebanner">    
        <mat-card-content>
          <mat-list id="slides">
            <mat-list-item class="slide showing">
                <img src="../../assets//images/contactusbg.jpg">
                <span class="mainwrappercontent">
                    <h1>CONTACT US</h1>
                </span>             
            </mat-list-item>
            <mat-list-item class="slide">
                <img src="../../assets//images/contactusbg.jpg">
                <span class="mainwrappercontent">
                    <h1>CONTACT US 1</h1>
                </span>              
            </mat-list-item>
            <mat-list-item class="slide">
                <img src="../../assets//images/contactusbg.jpg">
                <span class="mainwrappercontent">
                    <h1>CONTACT US 2</h1>
                </span>              
            </mat-list-item>
          </mat-list>
          <button class="controls" id="previous"><i class="material-icons">arrow_back_ios</i></button>
          <button class="controls" id="next"><i class="material-icons">arrow_forward_ios</i></button>
        </mat-card-content>
    
</mat-card>
<mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content >
                <h2>Home</h2>
            </mat-card-content>
        </span>
</mat-card>
<mat-card class="ptb-35 generalcls home">     
  <span class="mainwrappercontent">
    <p>
      home works!
    </p>
  </span>
</mat-card>

<app-footer></app-footer>
