
.innerpagebanner.homebanner.mat-card .mat-card-content {
    height: auto !important;
    position: relative;
}

.probidhomeblock1.mat-card{background-color: #e2ecee !important;}

.basicsearchinventorybg{
    overflow-x:hidden;background:url(../../../../assets/images/basicsearchinventorybg.jpg) no-repeat center center #e2ecee !important;top:0;left:0;min-width:100%;min-height:1px;-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;position:relative; padding: 0;display: flex; flex-wrap: wrap;
}

.testimonial{
    overflow-x:hidden;background:url(../../../../assets/images/testimonialbg.png) no-repeat top center #fff !important;top:0;left:0;min-width:100%;min-height:1px;position:relative; padding: 0;
}

.meetcoacharenaimg{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -os-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -o-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width:294px;
    height:340px;
}

.homeblock1contentlefttop{border-bottom: 1px solid #dddfe0; display: block; margin-bottom: 20px; padding-bottom: 20px;}
.homeblock1contentlefttop h2{color:#50cbd9;text-align: left;margin-bottom: 0px;}
.homeblock1contentlefttop h3{color:#24252c;text-align: right; font-size: 24px; text-transform: uppercase; font-weight: 700;}

.homeblock1content{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center;}
.homeblock1contentleft{width: 40%;}
.homeblock1contentright{width: 59%; padding-left: 30px;}
.homeblock1contentright .mat-list{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center;}

.homeblock2listssingleitem{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex !important; flex-wrap: wrap !important;  height: auto !important; float: none !important; align-items: stretch;}
.homeblock2listssingleitem span{ flex: 1;}
.homeblock2servimg img{height: 100% !important; -o-object-fit: cover; object-fit: cover; width: 100% !important; width: auto; height: auto;}
.homeblock2servcontent h2{margin-top: 54px;font-family: 'Helvetica-Normal'; font-size: 24px!important; line-height: normal!important; text-transform: capitalize !important; font-weight: normal; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; align-items: center;padding-left: 30px;padding-right: 30px;}


.homeblock2servcontent h2 span{flex: inherit;}
.homeblock2servcontent h2 span.homeblock2icon{}
.homeblock2servcontent h2 span.homeblock2iconcontent{text-align: left; margin-left: 18px;}
.homeblock2servcontent h2 span.homeblock2iconcontent span{display: block;font-family: 'Helvetica-Normal'; font-size: 14px!important; line-height: normal!important;}

.homeblock2servcontent p{padding: 0px 30px;}
.homeblock2servimg{overflow: hidden;}
.homeblock2servcontent button{float: right !important; margin: 10px 15px !important;}







.getintouch.mat-card{overflow-x:hidden;background:url(../../../../assets/images/getintouchbg.jpg) no-repeat right center !important;top:0;left:0;-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;position:relative;}

.getintouch h2{color:#fff !important;}
.getintouch p{color:#fff !important;}

.getintouch .getintouchmain{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px auto 0px;
  width: 1039px;
}
.getintouch .getintouchmain h1{
  font-family: 'Helvetica-Normal';
  font-size: 48px!important;
  line-height: normal!important;
  text-transform: capitalize;
  font-weight: normal;
  color:#00c0ff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.getintouch .getintouchmain h1 span{
    font-family: 'Helvetica-Normal' !important;
}
/* .getintouch .getintouchmain h1 span.uppercase{
    font-family: 'HelveticaBold' !important;
} */

.getintouchicon{
  flex: 1 1 30%;
  flex-basis: 30%;
}

.getintouchicon img{
    max-width: 100%;
}

.getintouchiconcontent{
    flex: 1 1 66%;
    flex-basis: 67%;
    border-left: 1px solid #32546b;
    padding-left: 16px;
    margin-left: 1%;
}
.getintouch p span{color:#d8fc3e;}

.getintouchiconcontent span.small{
    font-family: 'Helvetica-Normal';
    font-size: 20px!important;
    line-height: normal!important;
    font-weight: normal;
    color:#fff;
}
