
.innerpagebanner.homebanner.mat-card .mat-card-content {
    height: auto !important;
    position: relative;
}

.probidhomeblock1.mat-card{background-color: #e2ecee !important;}

.basicsearchinventorybg{
    overflow-x:hidden;background:url(../../../../assets/images/basicsearchinventorybg.jpg) no-repeat center center !important;top:0;left:0;min-width:100%;min-height:1px;-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;position:relative; padding: 0;display: flex; flex-wrap: wrap;
}

.probidhomeblock2 {overflow-x:hidden;background:url(../../../../assets/images/probidhomeblock2bg.jpg) no-repeat center center !important;top:0;left:0;min-width:100%;min-height:1px;-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;position:relative; padding: 0;display: flex; align-items: center;}





.probidhomeblock2inner .mat-list {display: flex;align-items: stretch; justify-content: space-between;}
.probidhomeblock2inner .mat-list .mat-list-item{height: auto; position: relative;     width: 40%;
    padding: 48px;}
.probidhomeblock2inner .mat-list .mat-list-item.bluebg{background-color:  rgba(18,195,227, 0.85);}
.probidhomeblock2inner .mat-list .mat-list-item.orangebg{background-color: rgba(251,74,50, 0.85);}
.probidhomeblock2inner .mat-list .mat-list-item img{position: absolute; top: 10px; right: -35px;}


.probidhomeblock3.mat-card{background-color: #222527 !important;padding-top: 0px !important; }
.probidhomeblock3 .mainwrappercontent{border-top:5px solid #12c3e3; }
.probidhomeblock3.generalcls h2.innertitle2{margin-top: 45px;}


.probidhomeblock4.mat-card {background: #e2ecee !important;}
.probidhomeblock4 .listsimgwrap{width: 98px; height: 98px;}
.probidhomeblock4 .listsimgwrap img{max-width: 100%; object-fit: inherit;}
.probidhomeblock4 h3{font-family: "HelveticaBold"; font-size: 18px; color:#12c3e3;margin-top: 19px;}
.probidhomeblock4 h3 {
    font-family: "HelveticaBold";
    font-size: 18px;
    color: #12c3e3;
    margin-top: 19px;
    width: 100%;
}


@media only screen and (max-width: 991px) {
    .probidhomeblock2inner .mat-list .mat-list-item {width: 100%;}
    .probidhomeblock2inner .mat-list .mat-list-item.orangebg {margin-top: 20px;}
}

