
.miscellaniousbg{background:url(../../../../../assets/images/miscellaniousbgadmin.jpg) no-repeat center center !important;background-size: cover !important;}
.generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{ word-wrap: none!important;}



.Settings_tab_block{ display: block!important; width: 49%; float: left;     background: #dde2e5;}
.Settings_tab_block:nth-of-type(2){ display: block!important; width: 49%; float: right;}

.clear{ display: block!important; clear: both!important;}

.tablediv_Settings{ margin-top: 0px!important;}

.tablediv_Settings .tablediv{ display: block;}

.btngreen {
    display: inline-block !important;
    background: #0fc47e !important;
    font-size: 14px !important;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'HelveticaBold' !important;
    text-decoration: none!important;
    line-height: normal !important;
    text-align: center !important;
    text-decoration: none!important;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 14px 7px 10px !important;
    margin-top: 10px !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 1199px) {

    .miscellaniousbg  {
        background-position: right top!important;
        background-size: 200%!important;     height: auto;
        padding: 15px;
    padding-right: 15px;
    text-align: center!important;
    padding-top: 28%;
    background-color: #2ca7db!important;
    padding-bottom: 30px;
    }

    .generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{     text-align: center;
        display: block;}

        .adm_inner_banner .adm_inner_para{     text-align: center!important;
            display: block!important; width: 100%!important;}
}



@media only screen and (max-width: 1199px) {
    .Settings_tab_block{ width: 100%; float: none;}

    .Settings_tab_block:nth-of-type(2){ float:none;}
}


@media only screen and (max-width: 991px) {

    .miscellaniousbg  {    background-size: 290%!important;     padding-top: 43%;}

    .generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{  font-size: 30px!important;}

    .adm_inner_banner .adm_inner_para{ font-size: 20px!important;}
}