<app-header></app-header>
<mat-card class="innerpagebanner employeetrainingbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>employee training</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful
                    methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls employeetrainingwrapper">
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Our Training Program Involves</h2>
            <p>
                Professional training and coaching program to help your employees increase their productivity and
                performance in the workplace, and improve revenue-generation.
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">
        <mat-list role="list" class="threecolumnlist">
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon1.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Efficient Program Management</h2>
                    <p>Custom planning and execution to ensure that your employees receive training according to their
                        needs.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon2.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Analysis & Assessment</h2>
                    <p>Each employee is consulted, and their individual needs are assessed and analyzed before
                        formulating training methods.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon3.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Alignment</h2>
                    <p>Training methods and programs are formulated in alignment with the business goals and initiatives
                        of the Organization.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon4.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Hierarchy Buy-in</h2>
                    <p>The leadership unit of the organization is included to manage organizational and employee
                        expectations, and evoke accountability.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon5.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Creativity</h2>
                    <p>Keeping an open mind towards creative inputs from Organizational heads, Leadership team, and the
                        employees for continuous improvement of the training program.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon6.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Post-Training Evaluation</h2>
                    <p>Regular analysis and evaluation to ensure that employees are implementing the new concepts and
                        methods of the training program.</p>
                </span>
            </mat-list-item>
            <mat-card-content class="borderwrapper">
                <span class="border1"></span>
                <span class="border2"></span>
                <span class="border3"></span>
            </mat-card-content>

        </mat-list>
        <!-- <img src="../../../../assets/images/employeetraining_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
    </span>
</mat-card>

<mat-card class="block2">
    <mat-card-conttent class="block2textwrapper textwrapper">
        <h2>Revenue Through Attitude — <br> High-Performance Training For Your Employees</h2>
        <p>Having employees with a personal desire to work hard and be a part of company culture is much more important
            than most realize.
            As business owners and managers, we know the power of personal focus and satisfaction from our own
            performance.
            In our Revenue Through Attitude programs, we focus on one major thing — High performance, driven from a
            personal desire to succeed as a valued employee.
        </p>

        <p>We hire people for a reason! We need them. The facts are we need them to love what they are doing like WE DO!
            And to have their own reasons to share in your vision. I can get them on track through
            my “Revenue through Attitude” employee training programs.
        </p>
        <a>READ MORE</a>
    </mat-card-conttent>
</mat-card>

<mat-card class="block3 pt-50">
    <span class="ascontainer">
        <mat-card-conttent class="textwrapper">
            <h2>The Objectives of my “Revenue Through Attitude” Employee Training Program</h2>
            <span class="block3content">
                <mat-card-conttent class="textwrapper">
                    <h3></h3>
                    <mat-list>
                        <mat-list-item> Pepper </mat-list-item>
                        <mat-list-item> Salt </mat-list-item>
                        <mat-list-item> Paprika </mat-list-item>
                    </mat-list>
                    <p></p>
                </mat-card-conttent>
            </span>
        </mat-card-conttent>

    </span>
</mat-card>

<app-footer></app-footer>