<mat-card  *ngIf="router.url ==='/' || router.url ==='/home' || router.url ==='/forget-password' || router.url ==='/reset-password' || router.url ==='/sign-up' || router.url ==='/contactus'">
  <mat-card-content>

      <mat-card class="headertop">
          <span class="mainwrappercontent">
            <mat-card-content class="headertopwrapper">
              <span class="langblock">
                <select matNativeControl required>
                  <option value="english">ENGLISH</option>
                  <option value="hindi">Hindi</option>
                  <option value="bengali">Bengali</option>
                </select>
              </span>
              <span class="infoblock">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <img src="../../assets/images/clockicon.png"> MON - SAT 0.00 - 00.00
                  </mat-list-item>
                  <mat-list-item role="listitem"><span><img src="../../assets/images/loginicon.png"> login</span>
                    <span>Register</span></mat-list-item>
        
                </mat-list>
              </span>
            </mat-card-content>
          </span>
        </mat-card>
        
        <mat-card class="headermiddle">
          <span class="mainwrappercontent">
            <mat-card-content class="headermiddlewrapper">
              <span class="pagelogowrapper" fxFlex><a [routerLink]="['/home']"><img src="../../assets/images/logomain.png"
                    class="landinglogoblock1"></a></span>
              <span class="topcontactinfoblock">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <span class="phoneinfo"><img src="../../assets/images/contacticon.png"> 3300 Sirius Ave #104, <br>Las Vegas
                      NV 89102</span>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <span class="phoneinfo"><img src="../../assets/images/phoneicon.png"> ( 702 ) 979-1227 <br>( 888 )
                      777-5335</span>
                  </mat-list-item>
                </mat-list>
              </span>
            </mat-card-content>
        
        
          </span>
        </mat-card>
        
        <mat-card class="headerbottom vpheaderwrapper">
          <span class="mainwrappercontent">
            <span class="homemain">
              <mat-toolbar color="primary">
                <mat-toolbar-row>
                  <span class="topmenuiconlogo">
                    <span class="logowrappersml" fxFlex><a [routerLink]="['/home']"><img src="../../assets/images/logomain.png"
                          class="landinglogoblock1"></a></span>
                    <button mat-icon-button (click)="toggleNavbar()" fxShow="true" fxHide.gt-sm>
                      <mat-icon>menu</mat-icon>
                    </button>
                    <span class="menu-spacer"></span>
                  </span>
        
                  <span fxShow="true" class="smlmenudiv" [ngClass]="{ 'show': navbarOpen }">
                    <mat-nav-list fxLayout>
                      <span class="menuwrapper">
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/home']">Home</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/pre-owned']">Pre-owned</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/new']">New</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/limited-time-specials']">Limited Time Specials</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/visit-our-store']">Visit Our Store</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/join-probid ']">Join Probid</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/social-advo']">Social Advo</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/contactus']">Contact Us</a>
                        </mat-list-item>
                        <!-- <mat-list-item fxFlex>
                            <a [matMenuTriggerFor]="menu">Submenu</a>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>Submenu 1</a>
                              <button mat-menu-item>Submenu 2</a>
                            </mat-menu>
                          </mat-list-item>-->
                      </span>
                    </mat-nav-list>
                  </span>
                  <span class="topsocialblock">
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <span class="iconwarpper"><i class="fa fa-facebook-f"></i></span>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <span class="iconwarpper"><i class="fa fa-instagram"></i></span>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <span class="iconwarpper"><i class="fa fa-youtube-play"></i></span>
                      </mat-list-item>
                    </mat-list>
                  </span>
                </mat-toolbar-row>
              </mat-toolbar>
            </span>
          </span>
        </mat-card>

  </mat-card-content>
</mat-card>


<mat-card class="adminheaderleftdiv admcls" *ngIf="router.url ==='/service-listing'">
  <mat-card-content>
    <app-bk-header></app-bk-header>

      <!-- <input type="checkbox" id="show-menu" role="button"> -->
    
      <mat-card-content class="dashboard_left" id="menu">
          <app-bk-leftdiv></app-bk-leftdiv>
      </mat-card-content>
   
    
  </mat-card-content>
</mat-card>


