

<ng-container  *ngIf="router.url =='/' || router.url =='/home' || router.url =='/forget-password' || router.url =='/reset-password' || router.url =='/sign-up' || router.url == '/contactus' || router.url == '/service' || router.url == '/servicelist' || router.url == '/testimonial' || router.url == '/testimoniallist' || router.url == '/contactus' || router.url == '/blog' || router.url == '/bloglist' || router.url == '/blogdetail' || router.url == '/basic-inventory-search' || router.url == '/advance-inventory-search' || router.url == '/pre-owned' || router.url == '/aboutus' || router.url == '/pre-owned-list' || router.url == '/online-inventory-list' || router.url == '/search-inventory-list' || router.url == '/specials-list'">

      <mat-card class="headertop">
          <span class="mainwrappercontent">
            <mat-card-content class="headertopwrapper">
              <span class="langblock">
                <select matNativeControl required>
                  <option value="english">ENGLISH</option>
                  <option value="hindi">Hindi</option>
                  <option value="bengali">Bengali</option>
                </select>
              </span>
              <span class="infoblock">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <img src="../../assets/images/clockicon.png"> MON - SAT 0.00 - 00.00
                  </mat-list-item>
                  <mat-list-item role="listitem"><span><img src="../../assets/images/loginicon.png"> login</span>
                    <span>Register</span></mat-list-item>
        
                </mat-list>
              </span>
            </mat-card-content>
          </span>
        </mat-card>
        
        <mat-card class="headermiddle">
          <span class="mainwrappercontent">
            <mat-card-content class="headermiddlewrapper">
              <span class="pagelogowrapper" fxFlex><a [routerLink]="['/home']"><img src="../../assets/images/logomain.png"
                    class="landinglogoblock1"></a></span>
              <span class="topcontactinfoblock">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <span class="phoneinfo"><img src="../../assets/images/contacticon.png"> 3300 Sirius Ave #104, <br>Las Vegas
                      NV 89102</span>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <span class="phoneinfo"><img src="../../assets/images/phoneicon.png"> ( 702 ) 979-1227 <br>( 888 )
                      777-5335</span>
                  </mat-list-item>
                </mat-list>
              </span>
            </mat-card-content>
        
        
          </span>
        </mat-card>
        
        <mat-card class="headerbottom vpheaderwrapper">
          <span class="mainwrappercontent">
            <span class="homemain">
              <mat-toolbar color="primary">
                <mat-toolbar-row>
                  <span class="topmenuiconlogo">
                    <span class="logowrappersml" fxFlex><a [routerLink]="['/home']"><img src="../../assets/images/logomain.png"
                          class="landinglogoblock1"></a></span>
                    <button mat-icon-button (click)="toggleNavbar()" fxShow="true" fxHide.gt-sm>
                      <mat-icon>menu</mat-icon>
                    </button>
                    <span class="menu-spacer"></span>
                  </span>
        
                  <span fxShow="true" class="smlmenudiv" [ngClass]="{ 'show': navbarOpen }">
                    <mat-nav-list fxLayout>
                      <span class="menuwrapper">
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/home']">Home</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/pre-owned-list']">Pre-Owned</a>
                          <!-- <a (click)="openDialog()">Pre-Owned</a> -->
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                            <a [matMenuTriggerFor]="menu1">Inventory Search</a>
                            <mat-menu #menu1="matMenu" class="activedropmenu">
                              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/basic-inventory-search']">Basic Inventory Search</a>
                              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/advance-inventory-search']">Advance Inventory Search</a>
                            </mat-menu>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [matMenuTriggerFor]="menu">Join Probid</a>
                          <mat-menu #menu="matMenu" class="activedropmenu">
                            <a mat-menu-item routerLinkActive="activemenu" href="https://www.probidautomotive.com/" target="_blank">Sign up as Sales Rep</a>
                            <a mat-menu-item routerLinkActive="activemenu" href="https://www.probidautomotive.com/salesrepsignup/" target="_blank">Sign up as Customer</a>
                          </mat-menu>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                         <!-- <a [routerLink]="['/aboutus']">About Us</a> -->
                          <a (click)="openDialog()">About Us</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/service']">Service</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/testimonial']">Testimonials</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/blog']">Blog</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                          <a [routerLink]="['/contactus']">Contact Us</a>
                        </mat-list-item>
                        <mat-list-item fxFlex routerLinkActive="activemenu">
                            <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                          </mat-list-item>
                      </span>
                    </mat-nav-list>
                  </span>
                  <span class="topsocialblock">
                    <mat-list role="list">
                      <mat-list-item role="listitem">
                        <!-- <span class="iconwarpper"><i class="fa fa-facebook-f"></i></span> -->
                        <span class="iconwarpper"><img src="../../../assets/images/socialicon-fb.png"></span>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <!-- <span class="iconwarpper"><i class="fa fa-instagram"></i></span> -->
                        <span class="iconwarpper"><img src="../../../assets/images/socialicon-insgram.png"></span>
                      </mat-list-item>
                      <mat-list-item role="listitem">
                        <!-- <span class="iconwarpper"><i class="fa fa-youtube-play"></i></span> -->
                        <span class="iconwarpper"><img src="../../../assets/images/socialicon-youtube.png"></span>
                      </mat-list-item>
                    </mat-list>
                  </span>
                </mat-toolbar-row>
              </mat-toolbar>
            </span>
          </span>
        </mat-card>

</ng-container>


<ng-container class="adminheaderleftdiv" *ngIf = "router.url ==='/service-listing' || router.url ==='/admin-dashboard' || router.url === '/contact-us-dashboard' || router.url === '/rep-dashboard' || router.url === '/customer-dashboard' || router.url === '/blog-management' || router.url === '/commission-report' || router.url === '/inventory-search' || router.url === '/manage-availability' || router.url === '/testimonial-lists-admin'|| router.url === '/commission-list' || router.url === '/customer-list' || router.url === '/manage-commission' || router.url === '/newsletter-list' || router.url === '/sales-report' || router.url === '/salesrep-list' || router.url === '/rsvp' || router.url === '/birddog-list' || router.url === '/manage-training'">
  <div class="admcls">
      <app-bk-header></app-bk-header>
      <app-bk-leftdiv></app-bk-leftdiv>
  </div>   
</ng-container>

