<app-header></app-header>
<mat-card class="innerpagebanner preownedbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Pre-owned</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h2>Pre-owned</h2>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-35 generalcls testimonial" style="padding: 0 !important;">     
    <p>
      Pre-owned works!
    </p>
</mat-card>

<app-footer></app-footer>


