<app-header></app-header>
<mat-card class="innerpagebanner imageallerybg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>image gallery</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls imagegallerywrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Image gallery</h2>
            <p>
                Check out some of the pictures from the many conferences, seminars, workshops and other such events that I have been a part of in the past.This <br>Image Gallery is updated after every event I attend. So, you can always check back regularly for the pictures from the latest and upcoming events.
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">   
        <img src="../../../../assets/images/imagegallery_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">    
        <div class="galleryrow"> 
                <div class="singlecolgallary">                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://www.w3schools.com/w3images/rocks.jpg">
                    </span>                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://www.w3schools.com/w3images/mountainskies.jpg">
                    </span>                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://www.w3schools.com/w3images/underwater.jpg">
                    </span>                    
                </div>  
                <div class="singlecolgallary">                    
                        <span>
                            <span class="singlecolgallarycontent">
                                <h5>xcxdcds xzcxz</h5>
                                <p>zsczcb</p>    
                            </span>
                            <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg">
                        </span>                    
                        <span>
                            <span class="singlecolgallarycontent">
                                <h5>xcxdcds xzcxz</h5>
                                <p>zsczcb</p>    
                            </span>
                            <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg">
                        </span>
                            
                        <span>
                            <span class="singlecolgallarycontent">
                                <h5>xcxdcds xzcxz</h5>
                                <p>zsczcb</p>    
                            </span>
                            <img src="https://scienceofpd.files.wordpress.com/2019/05/glow-brain.png?w=830&h=277">
                        </span>                    
                </div>
                <div class="singlecolgallary">
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://www.w3schools.com/w3images/wedding.jpg">
                    </span>                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://www.w3schools.com/w3images/paris.jpg">
                    </span>
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                    </span>                    
                </div>
                <div class="singlecolgallary">                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg">
                    </span>                    
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg">
                    </span>
                        
                    <span>
                        <span class="singlecolgallarycontent">
                            <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </span>
                        <img src="https://scienceofpd.files.wordpress.com/2019/05/glow-brain.png?w=830&h=277">
                    </span>                    
                </div>                    
            </div>

        <!-- <div class="galleryrow"> 
            <div class="singlecolgallary colgallary1">
                <span>
                    <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg">
                </span>
                <span>
                <img src="https://scienceofpd.files.wordpress.com/2019/05/glow-brain.png?w=830&h=277"></span>
                <span>
                <img src="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg"></span>
                <span>
                <img src="https://static2.bigstockphoto.com/3/7/2/large1500/273778657.jpg"></span>
                <span>
                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                <span>
                <img src="https://www.w3schools.com/w3images/mist.jpg"></span>
                </div>
                <div class="singlecolgallary colgallary2">
                    <span>
                        <div class="singlecolgallarycontent">
                        <h5>xcxdcds xzcxz</h5>
                            <p>zsczcb</p>    
                        </div>
                    <img src="https://www.w3schools.com/w3images/paris.jpg">
                    </span>
                    <span>
                <img src="https://www.w3schools.com/w3images/underwater.jpg"></span>
                <span>
                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/8qTQbk2A02M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                <span>
                <img src="https://www.w3schools.com/w3images/wedding.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/mountainskies.jpg"></span>
                <span>
                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/FQwfUzE_4tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                <span>
                <img src="https://www.w3schools.com/w3images/underwater.jpg"></span>
                </div>  
                <div class="singlecolgallary colgallary3">
                <span>
                    <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/g89_LMaehEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </span>
                <span>
                <img src="https://www.w3schools.com/w3images/rocks.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/falls2.jpg"></span>
                <span>
                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/g89_LMaehEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                <span>
                <img src="https://www.w3schools.com/w3images/nature.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/mist.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/paris.jpg"></span>
                </div>
                <div class="singlecolgallary colgallary4">
                    <span>
                <img src="https://www.w3schools.com/w3images/underwater.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/ocean.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/wedding.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/mountainskies.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/rocks.jpg"></span>
                <span>
                <img src="https://www.w3schools.com/w3images/underwater.jpg"></span>
                </div>
            </div> -->
        
    </span> 
</mat-card>

<app-footer></app-footer>