<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>Blogs</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>Bloglist</h2>
            </mat-card-content>
        </span>
</mat-card> -->

<mat-card class="generalcls blog ptb-40" style="background: #fff !important;"> 
        <span class="mainwrappercontent bloghead">
            <mat-card-content>
                <h2>Blog</h2>
                <p>The personal and professional development industry is an ever-changing and evolving one, with new developments being made every day and new trends being set on a regular basis.. Keep updated with the latest developments and news in the industry, and stay a step ahead when it comes to personal and professional development in every area of your life.</p>
            </mat-card-content>
        </span>
        <span class="mainwrappercontent pt-30">                
            <img src="../../../../assets/images/blog-block1img.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
            <button mat-button class="btnblue sim-button" [routerLink]="['/blog']">Load More</button>
        </span>
</mat-card>



<!-- <mat-card class="ptb-40 generalcls blog bloglist">     
    <span class="mainwrappercontent">
        <app-blog></app-blog>
    </span>
</mat-card> -->





<app-footer></app-footer>

