<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>Blogs</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>

<mat-card class="generalcls blog bloglists ptb-40" style="background: #fff !important;"> 
        <span class="mainwrappercontent bloghead">
            <mat-card-content>
                <h2>Blog</h2>
                <p>The personal and professional development industry is an ever-changing and evolving one, with new developments being made every day and new trends being set on a regular basis.. Keep updated with the latest developments and news in the industry, and stay a step ahead when it comes to personal and professional development in every area of your life.</p>
            </mat-card-content>
        </span>
        <span class="mainwrappercontent pt-30">                
            
            <span class="bloglistinner">
                <span class="bloglistswrapper">
                        

                    <h2 class="blogtitle">Our Blogs </h2>
                    <span class="search-sec">
                            <span class="mat-search-bar">
                              <form class="example-form">
                                  <mat-form-field class="example-full-width">
                                      <span matPrefix></span>
                                      <input type="text" matInput placeholder="search by title, keyword" (keyup)="titleSearchblogListFilter($event.target.value)">
                                      <button mat-button>
                                        <i class="material-icons">
                                          search
                                        </i>
                                      </button>
                                    </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <span matPrefix></span>
                                  <input type="text" matInput placeholder="search Category" (keyup)="titleSearchCategoryFilter($event.target.value)">
                                  <button mat-button>
                                    <i class="material-icons">
                                      search
                                    </i>
                                  </button>
                                </mat-form-field>
                              </form>
                            </span>
                          </span>
                    <span class="item_wrapper">
                        <span class="item" *ngFor="let item of bloglisting | slice:0:indexval ; let i=index">
                            <span class="item_images" (click)="blogdetail(item._id)"><img [src]="item.blogs_image"></span>
                            <span class="contentsection">
                                <span class="bnticons">
                                    <button *ngIf="item.video_url !='' && item.video_url !=null " (click)="openvideourl(item.video_url)"><img src="../../../../assets/images/videoicon.png"></button>
                                </span>
                                <h2 (click)="blogdetail(item._id)">{{item.blogtitle}}</h2>
                                <p class="description"><span [innerHtml]="item.description"></span></p>
                                <a class="next_page" (click)="blogdetail(item._id)">read more</a>
                                <span class="bottom-blog-wrapper">
                                    <span class="date">{{item.date_added}}</span>
                                    <!-- <span class="likecomment">
                                            <span class="like">
                                                    <img src="../../../../assets/images/icon-like.png"> <span class="count"><span></span>12</span>
                                            </span>
                                            <span class="like">
                                                <img src="../../../../assets/images/icon-dislike.png"> <span class="count"><span></span>12</span>
                                            </span>
                                            <span class="comment">
                                                    <img src="../../../../assets/images/icon-comment.png"> <span class="count"><span>6</span> comment</span>
                                            </span>
                                        </span> -->
                                    <span class="sharelinkswrapper">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb">
                                                <fa name="facebook" class="fa-facebook"></fa>
                                            </a>
                                            <a class="sociallink fa twi">
                                                <fa name="twitter" class="fa-twitter"></fa>
                                            </a>
                                            <a class="sociallink fa pin">
                                                <fa name="pinterest" class="fa-pinterest"></fa>
                                            </a>
                                            <a class="sociallink fa lin">
                                                <fa name="linkedin" class="fa-linkedin"></fa>
                                            </a>
                                            <a class="sociallink fa env">
                                                <fa name="envelope" class="fa-envelope"></fa>
                                            </a>
                                            <a class="sociallink fa share">
                                                <fa name="share" class="fa-share"></fa>
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                    <button mat-button class="btnblue sim-button" *ngIf="bloglisting !=null && indexval < bloglisting.length"
                    (click)="blogloadmore()">Load More</button>
                    
                </span>   

                <span class="categorywrapper">  
                      <h2 class="blogtitle">Categories ({{blogcategorycount}}) <button mat-raised-button (click)="openAll()">Open All</button></h2>            
                      <!-- <button mat-raised-button (click)="closeAll()">close All</button>             -->
                      <mat-accordion #myaccordion="matAccordion" multi="true" class="category">
                          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of blogcategory">
                            <mat-expansion-panel-header>
                              <mat-panel-title (click)="openblog(item._id)">
                                {{item.blogtitle}} ({{item.blogcount}}) &nbsp;
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container>
                                <span>
                                    <div class="categorysub" (click)="blogdetail()" [ngClass]="{'active': blogcat }">
                                      <h5 class="inner_header"></h5>
                                    </div>
                                  </span>
                            </ng-container>
                          </mat-expansion-panel>                          
                      </mat-accordion> 
                </span>     
            </span>    

            <!-- <button mat-button class="btnblue sim-button">Load More</button> -->
        </span>
</mat-card>



<!-- <mat-card class="ptb-40 generalcls blog bloglist">     
    <span class="mainwrappercontent">
        <app-blog></app-blog>
    </span>
</mat-card> -->





<app-footer></app-footer>

