.blogbg.mat-card{background:url(../../../../assets/images/blogbg.jpg) no-repeat center center!important;background-size:cover!important}
.example-tree-invisible{display:none}
.example-tree ul,.example-tree li{margin-top:0;margin-bottom:0;list-style-type:none}
.example-tree ul,.example-tree ul ul,.example-tree ul ul{margin-left:10px}
.mat-tree{background:transparent!important}