<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>Blogs</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>

<mat-card class="generalcls blog bloglists ptb-40" style="background: #fff !important;"> 
        <span class="mainwrappercontent bloghead">
            <mat-card-content>
                <h2>Blog</h2>
                <p>The personal and professional development industry is an ever-changing and evolving one, with new developments being made every day and new trends being set on a regular basis.. Keep updated with the latest developments and news in the industry, and stay a step ahead when it comes to personal and professional development in every area of your life.</p>
            </mat-card-content>
        </span>
        <span class="mainwrappercontent pt-30">                
            
            <span class="bloglistinner">
                <span class="bloglistswrapper">
                    <span class="item_wrapper">
                        <span class="item">
                            <span class="item_images"><img src="../../../../assets/images/bloglistimg1.jpg"></span>
                            <span class="contentsection">
                                <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                                <p class="description"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                <span class="bottom-blog-wrapper">
                                    <span class="date">Julay 15/2019</span>
                                    <span class="likecomment">
                                        <span class="like">
                                            <i class="material-icon">like</i> <span class="count">12</span>
                                        </span>
                                        <span class="comment">
                                            <i class="material-icon">comment</i> <span class="count"><span>6 comment</span></span>
                                        </span>
                                    </span>
                                    <span class="sharelinkswrapper">
                                        <span class="blogsociallists">
                                            <a class="sociallink fa fb">
                                                <fa name="facebook" class="fa-facebook"></fa>
                                            </a>
                                            <a class="sociallink fa twi">
                                                <fa name="twitter" class="fa-twitter"></fa>
                                            </a>
                                            <a class="sociallink fa pin">
                                                <fa name="pinterest" class="fa-pinterest"></fa>
                                            </a>
                                            <a class="sociallink fa lin">
                                                <fa name="linkedin" class="fa-linkedin"></fa>
                                            </a>
                                            <a class="sociallink fa env">
                                                <fa name="envelope" class="fa-envelope"></fa>
                                            </a>
                                            <a class="sociallink fa share">
                                                <fa name="share" class="fa-share"></fa>
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span class="item">
                                <span class="item_images"><img src="../../../../assets/images/bloglistimg2.jpg"></span>
                                <span class="contentsection">
                                    <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                                    <p class="description"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                    <span class="bottom-blog-wrapper">
                                        <span class="date">Julay 15/2019</span>
                                        <span class="likecomment">
                                            <span class="like">
                                                <i class="material-icon">like</i> <span class="count">12</span>
                                            </span>
                                            <span class="comment">
                                                <i class="material-icon">comment</i> <span class="count"><span>6 comment</span></span>
                                            </span>
                                        </span>
                                        <span class="sharelinkswrapper">
                                            <span class="blogsociallists">
                                                <a class="sociallink fa fb">
                                                    <fa name="facebook" class="fa-facebook"></fa>
                                                </a>
                                                <a class="sociallink fa twi">
                                                    <fa name="twitter" class="fa-twitter"></fa>
                                                </a>
                                                <a class="sociallink fa pin">
                                                    <fa name="pinterest" class="fa-pinterest"></fa>
                                                </a>
                                                <a class="sociallink fa lin">
                                                    <fa name="linkedin" class="fa-linkedin"></fa>
                                                </a>
                                                <a class="sociallink fa env">
                                                    <fa name="envelope" class="fa-envelope"></fa>
                                                </a>
                                                <a class="sociallink fa share">
                                                    <fa name="share" class="fa-share"></fa>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                        </span> 
                        <span class="item">
                                <span class="item_images"><img src="../../../../assets/images/bloglistimg3.jpg"></span>
                                <span class="contentsection">
                                    <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                                    <p class="description"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                    <span class="bottom-blog-wrapper">
                                        <span class="date">Julay 15/2019</span>
                                        <span class="likecomment">
                                            <span class="like">
                                                <i class="material-icon">like</i> <span class="count">12</span>
                                            </span>
                                            <span class="comment">
                                                <i class="material-icon">comment</i> <span class="count"><span>6 comment</span></span>
                                            </span>
                                        </span>
                                        <span class="sharelinkswrapper">
                                            <span class="blogsociallists">
                                                <a class="sociallink fa fb">
                                                    <fa name="facebook" class="fa-facebook"></fa>
                                                </a>
                                                <a class="sociallink fa twi">
                                                    <fa name="twitter" class="fa-twitter"></fa>
                                                </a>
                                                <a class="sociallink fa pin">
                                                    <fa name="pinterest" class="fa-pinterest"></fa>
                                                </a>
                                                <a class="sociallink fa lin">
                                                    <fa name="linkedin" class="fa-linkedin"></fa>
                                                </a>
                                                <a class="sociallink fa env">
                                                    <fa name="envelope" class="fa-envelope"></fa>
                                                </a>
                                                <a class="sociallink fa share">
                                                    <fa name="share" class="fa-share"></fa>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="item">
                                    <span class="item_images"><img src="../../../../assets/images/bloglistimg4.jpg"></span>
                                    <span class="contentsection">
                                        <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                                        <p class="description"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
                                        <span class="bottom-blog-wrapper">
                                            <span class="date">Julay 15/2019</span>
                                            <span class="likecomment">
                                                <span class="like">
                                                    <i class="material-icon">like</i> <span class="count">12</span>
                                                </span>
                                                <span class="comment">
                                                    <i class="material-icon">comment</i> <span class="count"><span>6 comment</span></span>
                                                </span>
                                            </span>
                                            <span class="sharelinkswrapper">
                                                <span class="blogsociallists">
                                                    <a class="sociallink fa fb">
                                                        <fa name="facebook" class="fa-facebook"></fa>
                                                    </a>
                                                    <a class="sociallink fa twi">
                                                        <fa name="twitter" class="fa-twitter"></fa>
                                                    </a>
                                                    <a class="sociallink fa pin">
                                                        <fa name="pinterest" class="fa-pinterest"></fa>
                                                    </a>
                                                    <a class="sociallink fa lin">
                                                        <fa name="linkedin" class="fa-linkedin"></fa>
                                                    </a>
                                                    <a class="sociallink fa env">
                                                        <fa name="envelope" class="fa-envelope"></fa>
                                                    </a>
                                                    <a class="sociallink fa share">
                                                        <fa name="share" class="fa-share"></fa>
                                                    </a>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>   
                    </span>
                </span>   
                <span class="categorywrapper">  
                        <h2>Categories <button mat-raised-button (click)="openAll()">Open All</button><button mat-raised-button (click)="closeAll()">close All</button></h2>
                        
                        <mat-accordion  #myaccordion="matAccordion" multi="true" class="category">
                          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                cvvcbbbvc &nbsp;
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container>
                              <span>
                                <div class="categorysub">
                                  <h5 class="inner_header">cv</h5>
                                </div>
                              </span>
                            </ng-container>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    cvvcbbbvc &nbsp;
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ng-container>
                                  <span>
                                    <div class="categorysub">
                                      <h5 class="inner_header">cv</h5>
                                    </div>
                                  </span>
                                </ng-container>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        cvvcbbbvc &nbsp;
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-container>
                                      <span>
                                        <div class="categorysub">
                                          <h5 class="inner_header">cv</h5>
                                        </div>
                                      </span>
                                    </ng-container>
                            </mat-expansion-panel>
                        </mat-accordion>                        
                        

                            
                </span>     
            </span>    

            <!-- <button mat-button class="btnblue sim-button">Load More</button> -->
        </span>
</mat-card>



<!-- <mat-card class="ptb-40 generalcls blog bloglist">     
    <span class="mainwrappercontent">
        <app-blog></app-blog>
    </span>
</mat-card> -->





<app-footer></app-footer>

