<app-header></app-header>
<mat-card class="innerpagebanner speakerengagementsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>speaker engagements</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls speakerengagementswrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>speaker engagements</h2>
            <p>
                Want me to speak at your event or attend an event where I would be speaking next? Check out my upcoming Speaking Engagements and reserve<br> your spot at the event in advance. You can also contact me to speak at your next event, and I’ll work on accommodating you in my schedule!
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <img src="../../../../assets/images/speakerengagements_blockimg1.png" style="width: 100%; display: block; margin: 0; padding: 0;">
    </span> 
</mat-card>

<app-footer></app-footer>
