<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card  class="generalcls blog" style="padding: 0 !important;">
            <img src="../../../../assets/images/adm-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
            <img src="../../../../assets/images/adm-dashboard-img2.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
            <img src="../../../../assets/images/adm-dashboard-img3.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
            <!--<img src="../../../../assets/images/adm-dashboard-img4.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">-->


     <span class="home_event_list">
         <h2>Event</h2>

         <app-home-event></app-home-event>




          <a class="eventviewallbtn" [routerLink]="['/manage-event-listing']">
                    View All
                  </a>

         <span class="clear"></span>

     </span>


            <img src="../../../../assets/images/adm-dashboard-img5.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
        </mat-card>
          <!-- <mat-card class="dashboard_block1">

              <mat-card-content>
          
                  <h2>Welcome to ProBid Auto </h2>
          
                  <h3>Lorem Ipsum is simply dummy text of the printing and
                      <br/>typesetting industry.</h3>
          
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br/>  <br/>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          
                  <button>Lean More</button>
          
          
              </mat-card-content>
          
              
            
          
              <mat-card class="clear"></mat-card>
            </mat-card>
          
          
          
          
          <mat-card class="dashboard_block2">
          
              <mat-card-content>
          
                  <h2>Rep’s Information</h2>
          
                  <mat-card-subtitle>
          
                      <span class="dashboard_block2_img"><img src="../../../../assets/images/ami_demo_img1.jpg" alt="#"/></span>
          
                      <span class="dashboard_block2_text">
          
                          <ul>
                              <li><label><span>First Name</span></label> <label><span>{{userCookies.firstname}}</span></label></li>
                              <li><label><span>Last Name</span></label> <label><span>{{userCookies.lastname}}</span></label></li>
                              <li><label><span>Contact Number</span></label> <label><span>0000000000</span></label></li>
                              <li><label><span>Email Address</span></label> <label><span>{{userCookies.email}}</span></label></li>
          
                          </ul>
          
          
          
                      </span>
          
          
          
                      <mat-card class="clear"></mat-card>
          
                  </mat-card-subtitle>
          
          
              </mat-card-content>
          
              <mat-card class="clear"></mat-card>
          </mat-card>
          
          
          
          <mat-card class="dashboard_block3">
          
              <mat-card-content>
          
          
                  <h2>RSVP</h2>
                  <button class="viewlalalbtn3">View All</button>
          
                  <mat-card class="clear"></mat-card>
          
                  <mat-card-subtitle>
          
                      <span class="block3span1">RSVP on: <strong>09-04-2019</strong>  </span>
                      <span class="block3span2">Status: <strong>Cancelled</strong></span>
          
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                      <img src="../../../../assets/images/carimg1.jpg" />
          
                      </span>
          
                      <span class="block3span3">RSVP by <strong> Lorem Ipsum</strong>   </span>
                       <button>RSVP</button>
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
                  <mat-card-subtitle>
          
                      <span class="block3span1">RSVP on: <strong>09-04-2019</strong>  </span>
                      <span class="block3span2">Status: <strong>Cancelled</strong></span>
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                      <img src="../../../../assets/images/carimg2.jpg" />
          
                      </span>
          
                      <span class="block3span3">RSVP by <strong> Lorem Ipsum</strong>   </span>
                       <button>RSVP</button>
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
                  <mat-card-subtitle>
          
                      <span class="block3span1">RSVP on: <strong>09-04-2019</strong>  </span>
                      <span class="block3span2">Status: <strong>Cancelled</strong></span>
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                      <img src="../../../../assets/images/carimg3.jpg" />
          
                      </span>
          
                      <span class="block3span3">RSVP by <strong> Lorem Ipsum</strong>   </span>
                       <button>RSVP</button>
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
                  <mat-card-subtitle>
          
                      <span class="block3span1">RSVP on: <strong>09-04-2019</strong>  </span>
                      <span class="block3span2">Status: <strong>Cancelled</strong></span>
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                      <img src="../../../../assets/images/carimg4.jpg" />
          
                      </span>
          
                      <span class="block3span3">RSVP by <strong> Lorem Ipsum</strong>   </span>
                       <button>RSVP</button>
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
          
          
                  <mat-card class="clear"></mat-card>
          
          
              </mat-card-content>
          
          
              <mat-card class="clear"></mat-card>
          </mat-card>
          
          
          <mat-card class="dashboard_block3 dashboard_block4">
          
              <mat-card-content>
          
          
                  <h2>Favorites</h2>
                  <button class="viewlalalbtn3">View All</button>
          
                  <mat-card class="clear"></mat-card>
          
                  <mat-card-subtitle>
          
          
          
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                           <img src="../../../../assets/images/ami_amin_blockcon3.png" class="starimgnew"/>
          
                      <img src="../../../../assets/images/carimg5.jpg" />
          
                      </span>
          
                      <span class="block3span3">TOYOTA CAMRY XSE 2016 </span>
          
                     <span class="d_block4_price">$ 25 000</span>
          
                      <label class="d_block4_label">
                     <span>100 </span>
                     <span> 45/56 </span>
                     <span>Automatic</span>
                      </label>
          
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
                  <mat-card-subtitle>
          
          
          
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                                 <img src="../../../../assets/images/ami_amin_blockcon3.png" class="starimgnew"/>
                      <img src="../../../../assets/images/carimg6.jpg" />
          
                      </span>
          
                      <span class="block3span3">TOYOTA CAMRY XSE 2016 </span>
          
                      <span class="d_block4_price">$ 25 000</span>
          
                      <label class="d_block4_label">
                          <span>100 </span>
                          <span> 45/56 </span>
                          <span>Automatic</span>
                      </label>
          
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
          
                  <mat-card-subtitle>
          
          
          
                      <span class="clear"></span>
          
                      <span class="block3carblock">
                                 <img src="../../../../assets/images/ami_amin_blockcon3.png" class="starimgnew"/>
                      <img src="../../../../assets/images/carimg7.jpg" />
          
                      </span>
          
                      <span class="block3span3">TOYOTA CAMRY XSE 2016 </span>
          
                      <span class="d_block4_price">$ 25 000</span>
          
                      <label class="d_block4_label">
                          <span>100 </span>
                          <span> 45/56 </span>
                          <span>Automatic</span>
                      </label>
          
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
          
                  <mat-card-subtitle>
          
          
          
                      <span class="clear"></span>
          
                      <span class="block3carblock">
          
                                 <img src="../../../../assets/images/ami_amin_blockcon3.png" class="starimgnew"/>
                      <img src="../../../../assets/images/carimg8.jpg" />
          
                      </span>
          
                      <span class="block3span3">TOYOTA CAMRY XSE 2016 </span>
          
                      <span class="d_block4_price">$ 25 000</span>
          
                      <label class="d_block4_label">
                          <span>100 </span>
                          <span> 45/56 </span>
                          <span>Automatic</span>
                      </label>
          
          
          
                      <span class="clear"></span>
          
                  </mat-card-subtitle>
          
          
                  <mat-card class="clear"></mat-card>
          
          
              </mat-card-content>
          
          
              <mat-card class="clear"></mat-card>
          </mat-card> -->
      </div>
  </div>
  <app-footer></app-footer>