
<!-- <mat-card>
    <mat-toolbar color="primary" style="justify-content: center; align-items: center;">
        <h2 class="headerSpan">Subscription Category List</h2>
    </mat-toolbar>

    
    <mat-toolbar class="buttonsetToolbar">
        <button class="singleButton" mat-raised-button color="primary" [routerLink]="['/newsletter/add-category']">Add Subscription Category</button>
    </mat-toolbar>
    

   
    

    <lib-listing-subcategory [config]="subscriptionCatForm"></lib-listing-subcategory>
</mat-card> -->


