
<div class="adminwrappercls">
    <div class="admcls">
      <app-bk-header></app-bk-header>
    </div>
    <div class="main-content-wrap">
      <mat-card class="generalcls blog videogallery" style="padding: 0 !important;">
        <mat-card-content class="adm_inner_banner gallerybg">
          <mat-card-title class="adm_inner_title">Video Gallery Lists</mat-card-title>
          <p class="adm_inner_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              printer took a galley of type and scrambled it to make a type specimen book.</p>
      </mat-card-content>
  
      <mat-card-content class="bred_cram_wrapper_list">
          <mat-list class="bred_cram_wrapper">
            <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
            <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Dashboard</a> </mat-list-item>
    
            <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Manage website</a> </mat-list-item>
            <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Manage website</a> </mat-list-item>
    
            <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a>Video Gallery List</a> </mat-list-item>
            <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a>Video Gallery List</a> </mat-list-item>
          </mat-list>       
      </mat-card-content>  
        <div class="tablediv">
            <lib-Video
            [listingViaResolve]="videoList"
            [serverUrl]="serverUrl"
            [Token]="token"
            [updatedEndpoint]="updatedEndpoint"
            [TableName]="SourceName"
            [DeleteEndpoint]="deleteEndpoint"
            [editRoute]="EditRoute"
            [AddButtonRoute]="addButtonRoute"
            [VideoManagementRoute]= "videoManagementRoute"
            [SearchEndpoint]="searchEndpoint"
            [SearchSourceName]="searchSourcename"
            ></lib-Video>
        </div>
      </mat-card>
    </div>
  </div>
  <app-bk-footer></app-bk-footer>

