

.admgeneralcls .mat-card-header-text{margin: 0 !important;width: 100%;}
.admgeneralcls .mat-card-title{font-family: 'RalewayRegular'; font-size: 48px !important; line-height: 48px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom:30px!important; color:#2a2b2c;display: flex; width: 100%; align-items: center; justify-content: space-between;}
.admgeneralcls .mat-card-title span span{font-family: 'RalewayBold'; padding-left: 10px;}
.admgeneralcls p{font-family: 'HelveticaNormal'; font-size: 18px; color:#2b2c2d; margin: 0px; padding: 0; line-height: 25px; font-weight: normal;}
.admgeneralcls p strong{ text-transform: uppercase;     font-family: 'HelveticaBold';}
.admgeneralcls{padding: 77px 0px; border-top: 1px solid #f5f5f5;}
.admgeneralcls .is-table-row{direction: rtl;}
.admgeneralcls .is-table-row p{direction: rtl; direction: initial;}
.admgeneralcls .is-table-row .highlightedtxt{direction: rtl; direction: initial;}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(odd) {padding-right: 0; overflow: hidden; padding-left: 0px;}
.admgeneralcls .is-table-row [class*="col-"]:nth-of-type(even) {padding-left: 50px; padding-right:50px;}
.admgeneralcls .is-table-row [class*="col-"] img{width: 100%;}
.admgeneralcls ul.list-inline{margin: 0px !important;padding: 0px;}
.admgeneralcls ul.list-inline li{margin: 0px !important; padding: 0px !important;}
.admgeneralcls h1{font-family: 'RalewayExtraBold'; font-size: 60px !important; line-height: 60px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}
.admgeneralcls h1 span{color:#fed204;font-family: 'HelveticaBold';}
.admgeneralcls h2{font-family: 'HelveticaBold'; font-size: 30px !important; line-height: 36px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}

/* .admcls.mat-card {padding:0px !important;}
.admcls .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .admcls .row.content {height: 1080px}
  
  .admcls .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  .admcls footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .admcls .sidenav {
      height: auto;
      padding: 15px;
    }
    .admcls .row.content {height:auto;} 
  }
  
  .admcls a {
    text-decoration: none !important;
    cursor: pointer;
  }
  
  
  .admcls .example-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    .admcls .example-is-mobile .example-toolbar {
      position: fixed;
      z-index: 2;
    }
    
    .admcls h1.example-app-name {
      margin-left: 8px;
    }
    
    .admcls .example-sidenav-container {
      flex: 1;
    }
    
    .admcls .example-is-mobile .example-sidenav-container {
      flex: 1 0 auto;
    }
    
  
    .admcls .rightSidenav .navigation-left .nav-item .nav-item-hold .nav-icon, 
    .admcls .rightSidenav .navigation-left .nav-item .nav-item-hold .feather {
      font-size: 32px;
      height: 32px;
      width: 32px;
      display: block;
      margin: 0 auto 6px;
  }
  
  
  .admcls .header{
        position: fixed;
        width: 100%;
        height: 80px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f5f5f5;
        z-index: 100;
    }
    .admcls .header .toolbar-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;
    }
    .admcls .header .logo {
      width: 160px;
      background-color: #222222;
  }
  .admcls .header .logo img {
    width: auto;
    height: 60px;
    margin: 0 auto;
    display: block;
  }
  .admcls .header .logo img{max-width: 100%;}
  
  .admcls .header .menu-toggle div {
    width: 24px;
    height: 1px;
    background: #47404f;
    margin: 6px 0;
  }
  
  
  .admcls .header .header-part-right {
    display: flex;
    align-items: center;
  }
  
  .admcls .header .header-part-right .header-icon {
    font-size: 19px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    margin: 0 2px;
  }
  
  .admcls .header .header-part-right .user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .admcls .header .notification-dropdown .dropdown-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 72px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .admcls .header .notification-dropdown .dropdown-item .notification-icon {
    background: #eee;
    height: 100%;
    width: 44px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .admcls .header .notification-dropdown .dropdown-item .notification-details {
    padding: 0.25rem 0.75rem;
  }
  
  .admcls .dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.711375rem;
    color: #70657b;
    white-space: nowrap;
  }
  
  .admcls .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #47404f;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .admcls .search-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 20px;
    position: relative;
    width: 230px;
    height: 40px;
  }
  
  .admcls .rightSidenav {
    top:80px !important;
    transition: all 0.24s ease-in-out 0s;
  }
  
  .admcls .rightSidenav .navigation-left .nav-item {
    position: relative;
    display: block;
    width: 100%;
    color: #332e38;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
    height: auto;
  }
  
  .admcls .rightSidenav .navigation-left .nav-item.active, .rightSidenav .navigation-left .nav-item:hover {
    color: #663399;
  }
  
  .admcls .rightSidenav .navigation-left .nav-item.active .nav-item-hold, .rightSidenav .navigation-left .nav-item:hover .nav-item-hold {
    color: #663399;
  }
  .admcls .rightSidenav .navigation-left .nav-item .nav-item-hold {
    display: block;
    width: 100%;
    padding: 26px 0;
    color: #47404f;
  }
  
  .admcls .rightSidenav .navigation-left {
    list-style: none;
    text-align: center;
    width: 120px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .admcls .rightSidenav .navigation-left .nav-item.active .triangle, .rightSidenav .navigation-left .nav-item:hover .triangle {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #663399 transparent;
  }
  
  
  .admcls .sidebar-left-secondary {
    left: calc(-220px - 20px);
    z-index: 89;
    width: 220px;
    padding: 0.75rem 0;
    transition: all 0.24s ease-in-out;
    background: #fff;
  }
  
  
  
  .admcls .sidebar-left-secondary {
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    background: #f3f3f3;
    transition: all 0.24s ease-in-out;
    left:120px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  }
  
  .admcls .sidebar-left-secondary .childNav .mat-list-item {
    display: block;
  }
  
  .admcls .sidebar-left-secondary .childNav .mat-list-item a {
    color: #332e38;
    text-transform: capitalize;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    padding: 12px 24px;
    transition: 0.15s all ease-in;
  }
  
  .admcls .sidebar-left-secondary .childNav .mat-list-item a .nav-icon {
    font-size: 18px;
    margin-right: 8px;
    vertical-align: middle;
    color: #70657b;
  }
  
  
  .admcls .align-items-center {
    align-items: center !important;
  }
  .admcls .d-flex {
    display: flex !important;
  }
  .admcls .p-4{
    padding: 20px;
  }
  
  .admcls .megamenu .bg-img, .megamenu .title {
    color: #ffffff;
    margin: 0;
  }
  .admcls .megamenu .bg-img {
    background: linear-gradient(to right, #663399, #003473);
  }
  .admcls .megamenu .title{
    margin-bottom: 20px !important;
  }
  
  .admcls .megamenu .btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
    margin-top: 20px;
  }
  
  .admcls .mat-dialog-container {
    display: block;
    padding: 0 !important;
    border-radius: 0px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  
  .admcls .megamenu.mat-dialog-content{
    padding: 0 !important;
    margin: 0 !important;
    width: calc(100% - 0px) !important;
  }
  
  .admcls .megamenu.mat-dialog-content .row{
    margin: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
    border-radius: 0px;
  }
  
  .admcls .megamenu.mat-dialog-content .row .mat-card-content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  .admcls .menu-icon-grid {
    width: auto !important;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .admcls .megamenu .menu-icon-grid.mat-list-base .mat-list-item {
    display: inline-flex;
    width: 9rem;
    flex-direction: column;
    align-items: center;
    padding: 18px 12px;
    border-radius: 4px;
    height: auto;
  }
  
  .admcls .megamenu .menu-icon-grid.mat-list-base .mat-list-item a{
    color: #52495a;
  }
  
  .admcls .megamenu .menu-icon-grid.mat-list-base .mat-list-item i {
    font-size: 28px;
    margin-bottom: 4px;
    display: block;
  }
  
  .admcls .megamenu .menu-icon-grid.mat-list-base .mat-list-item:hover {
    background: #663399;
    color: #fff;
  }
  .admcls .megamenu .menu-icon-grid.mat-list-base .mat-list-item:hover a{
    color: #fff;
  }
  
  
  .admcls .megamenu {
    position: static;
  }
  
  .admcls .megamenu {
    left: auto;
    right: 0;
    width: calc(100% - 120px);
    max-width: 1200px;
    padding: 0;
    overflow: hidden;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
  }
  
  
  .admcls .megamenu .links.mat-list.mat-list-base {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
            column-count: 2;
  }
  
  .admcls .megamenu .mat-list.links .mat-list-item a {
    display: inline-block;
    margin-bottom: 8px;
    color: #70657b;
  }
  
  .admcls .megamenu .mat-list.links .mat-list-item a:hover {
    color: #663399;
  }
  
  .admcls .widget_dropdown {
    left: auto !important;
    right: 2px !important;
  }
  
  @media (max-width: 767px) {
    .admcls .megamenu {
      width: calc(100% - 10px);
    }
  }
  
  .admcls [dir=rtl] .megamenu {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
  
  .admcls .border-bottom-primary {
    border-bottom: 1px solid #663399;
  }
  .admcls .text-primary {
    color: #663399 !important;
  }
  .admcls .d-inline-block {
    display: inline-block !important;
  }
  
  .admcls .search-ui input.search-input {
    font-size: 4rem;
    font-weight: 600;
    border: 0;
    margin-bottom: 1.5rem;
  }
  
  .admcls .header .search-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #dedede;
    border: 1px solid #eee;
    border-radius: 20px;
    position: relative;
    width: 230px;
    height: 40px;
  }
  
  .admcls .header .search-bar input {
    background: transparent;
    border: 0;
    color: #212121;
    font-size: 0.8rem;
    line-height: 2;
    height: 100%;
    outline: initial !important;
    padding: 0.5rem 1rem;
    width: calc(100% - 32px);
  }
  
  .admcls .header .search-bar .search-icon {
    font-size: 18px;
    width: 24px;
    display: inline-block;
  }
  .admcls .text-muted {
    color: #70657b !important;
  }
  
  
.main-content-wrap {
    width: 100%;
    float: right;
    margin-top: 80px;
    transition: all 0.24s ease-in-out;
    padding: 2rem;
    position: relative;
    min-height: calc(100vh - 80px);
    background: #fff;
  }
  
  
  .admcls .breadcrumb {
    background: transparent;
    align-items: center;
    margin: 0 0 1.25rem;
    padding: 0;
  }
  
  .admcls .breadcrumb h1 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
  }
  
  .admcls .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admcls .breadcrumb ul li {
    display: inline-block;
    position: relative;
    padding: 0 0.5rem;
    line-height: 1;
    vertical-align: bottom;
    color: #70657b;
  }
  
  .admcls .breadcrumb ul li:after {
    position: absolute;
    top: -1px;
    right: 0;
    content: "";
    height: 16px;
    width: 1px;
    background: #70657b;
    border-radius: 5px;
  }
  
  .admcls .breadcrumb ul li:last-child:after {
    display: none;
  }
  
  .admcls .breadcrumb ul li a {
    color: #332e38;
  }
  
  .admcls [dir=rtl] .breadcrumb h1 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 576px) {
    .admcls .breadcrumb {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .admcls .breadcrumb ul li:first-child {
      padding-left: 0;
    }
  }
  
  
  
  
  .admcls .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  .admcls .card-header, .card-footer {
    border-color: rgba(0, 0, 0, 0.03);
  }
  .admcls .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .admcls .btn-primary:not(:disabled):not(.disabled):active, .admcls .btn-primary:not(:disabled):not(.disabled).active, .admcls .show > .btn-primary.dropdown-toggle, .admcls .btn-primary {
    color: #fff;
    background-color: #4d2673;
    border-color: #462369;
  }
  .admcls .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .admcls .btn-primary:hover, .admcls .btn-outline-primary:hover {
    background: #663399;
    box-shadow: 0 8px 25px -8px #663399;
    border-color: #663399;
  }
  
  
  .admcls .customizer.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    padding: 0;
    border-radius: 4px;
    position: fixed;
    z-index: 9999;
    top: 100px;
    right: -380px;
    transition: 0.3s all ease-in-out;
  }
  
  .admcls .customizer.open {
    right: 0;
  }
  
  .admcls .customizer .handle {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    top: 8px;
    left: -36px;
    background: #663399;
    cursor: pointer;
    padding: 10px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
  }
  
  .admcls .customizer .handle:hover {
    background: #663399;
    color: #fff;
  }
  
  .admcls .customizer .customizer-body {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
  }
  .admcls .customizer .customizer-body .mat-card-title {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  
  .admcls .customizer .customizer-body .layouts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  
  .admcls .customizer .customizer-body .mat-card-actions .mat-button {
    position: relative;
    margin: 0 8px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width: calc(50% - 16px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #663399;
    color:#fff;
    text-transform: uppercase;
  }
  
  .admcls .customizer .customizer-body .mat-card-actions {
      margin-left: 0;
      margin-right: 0;
      padding: 8px;
  }
  

  
  .admcls .spin {
    -webkit-animation: rotation 2s infinite linear;
  }
  
  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }
  
  .admcls .breadcrumbblock{
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;    
    display: flex !important;            
    justify-content: flex-start !important; 
    -webkit-justify-content: flex-start !important; 
    -moz-justify-content: flex-start !important; 
    -ms-justify-content: flex-start !important; 
    -o-justify-content: flex-start !important; 
    flex-wrap: wrap; 
    -webkit-flex-wrap: wrap; 
    -moz-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    -o-flex-wrap: wrap; 
    flex-wrap: wrap; 
    align-items: center;
  }
  
  .admcls .breadcrumbblock .mat-card-title{margin: 0;}
  .admcls .breadcrumbblock .mat-card-content{margin: 0;}
  .admcls .breadcrumbblock .mat-card-content a{
    display: inline-block;
    position: relative;
    padding: 0px 0.5rem;
    line-height: 1;
    vertical-align: bottom;
    color: #70657b;
  }
  
  .admcls .breadcrumbblock .mat-card-content a:after {
    position: absolute;
    top: -1px;
    right: 0;
    content: "";
    height: 16px;
    width: 1px;
    background: #70657b;
    border-radius: 5px;
  }
  .admcls .breadcrumbblock .mat-card-content a:last-child:after{
    display: none;
  }
  
  .admcls .breadcrumbblock .mat-card-title {
    font-size: 24px;
    line-height: 1;
    margin: 0;
  }
  
  
  .admcls .separator-breadcrumb {
    margin-bottom: 2rem;
  }
  
  .admcls .border-top {
    border-top: 1px solid #dee2e6 !important;
  }
  
  .admcls .example-card {
    max-width: 400px;
  }
  
  .admcls .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .admcls .topblock{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
  }
  
  .admcls .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }
  
  .admcls .topblock .mat-card{
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08) !important;
    border: 0;
    padding: 20px;
    margin: 10px;
  }
  
  
  
  
  .admcls .db1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
  }
  
  
  .admcls .db1 .mat-card{
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08) !important;
    border: 0;
    padding: 20px;
    margin: 0 10px;
  }
  
  
  
  
  .admcls table {
    width: 100%;
  }

  .adminwrappercls{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .adminheaderleftdiv{
    position: absolute;
    top:0;
    left: 0;
  } */





  .mat-card{ background:white!important;}

  .mat-dialog-content{padding: 10px !important; border-radius: 0; overflow: hidden !important;}
  .mat-dialog-content .mat-dialog-title{
      background-color: #4f4f4f;
      border: 0px;
      padding: .35em;
      color: #ffffff;
  }
  
  .mat-dialog-content .mat-card {
      transition: none !important;
      display: flex !important; 
      position: relative;
      padding: 5px;
      border-radius: 0px;
      align-items: center;
  }
  
  .mat-dialog-content .mat-card .mat-card-header{white-space: normal; word-break: break-word;}
  .mat-dialog-content .mat-card .mat-card-content{white-space: normal; word-break: break-word;}
  
  .mat-dialog-content .mat-card-header .mat-card-title {
      margin-bottom: 0;
      font-size: 16px;
  }
  
  .mat-dialog-content .mat-dialog-actions {
      margin-bottom: 0px;
      justify-content: center;
  }
  
  .mat-dialog-content .mat-dialog-actions button{
      display: inline-block;
      height: auto;
      background: #cc3333;
      font-size: 18px;
      color: #fff!important;
      text-transform: uppercase;
      font-family: 'Ralewaybold';
      text-decoration: none!important;
      line-height: normal;
      text-align: center;
      margin: 0 auto;
      white-space: normal;
      margin-top: 10px;;
      padding: 12px 10px;
      border-radius: 0px !important;
  }
  
  .cdk-global-overlay-wrapper {
      align-items: center !important;
  }
  .cdk-global-overlay-wrapper .mat-bottom-sheet-container bottom-sheet .mat-nav-list{display:flex; padding-top:0 !important;}
  .mat-bottom-sheet-container bottom-sheet .mat-nav-list .mat-list-item {
      display: inline-block;
      height: auto;
      background: #cc3333;
      font-size: 18px;
      color: #fff!important;
      text-transform: uppercase;
      font-family: 'Ralewaybold';
      text-decoration: none!important;
      line-height: normal;
      text-align: center;
      margin: 5px;
      white-space: normal;
      padding: 12px 10px;
      border-radius: 0px !important;
  }
  
  .mat-bottom-sheet-container bottom-sheet .mat-nav-list{text-align: center;}
  
  
  .mat-dialog-container .mat-dialog-actions button {
      display: inline-block;
      height: auto;
      background: #cc3333;
      font-size: 18px;
      color: #fff!important;
      text-transform: uppercase;
      font-family: 'Ralewaybold';
      text-decoration: none!important;
      line-height: normal;
      text-align: center;
      margin: 0 auto;
      white-space: normal;
      margin-top: 10px;
      padding: 12px 10px;
      border-radius: 0px !important;
  }
  
  
  .mat-dialog-container .mat-card-header .mat-card-title{
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 600;
  }
  
  .mat-dialog-content {
      padding: 0 24px !important;
      box-shadow: none !important;
  }
  .mat-form-field {
    margin: 0 10px;
}






.mat-card {
  padding: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}



/*----admin-header----*/
.admcls .header {
  position: fixed;
  width: 100%;
  height: 63px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fafafa;
  z-index: 100;
}

.admcls .header .toolbar-row{padding: 0 !important;}

.admcls .header .toolbar-row .logo {
  width: 234px;
  background: #222222;
  padding: 0 13px;
  display: flex;
  align-items: center;
}

.admcls .header .toolbar-row .logo img{max-width: 100%;}



.admcls .leftSidenav, .admcls .leftSidenav {
  position: fixed;
  top: 80px;
  height: calc(100vh - 80px);
  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}

.admcls .leftSidenav.open {
  left: 0;
}
.admcls .leftSidenav {
  left: calc(-120px - 20px);
  z-index: 90;
  transition: all 0.24s ease-in-out;
}




.admcls .leftSidenav.open {
  left: 0;
}

.admcls .leftSidenav .logo {
  display: none;
}

.admcls .leftSidenav .navigation-left {
  list-style: none;
  text-align: center;
  width: 120px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.admcls .leftSidenav .navigation-left .nav-item {
  position: relative;
  display: block;
  width: 100%;
  color: #332e38;
  cursor: pointer;
  border-bottom: 1px solid #dee2e6;
}

.admcls .leftSidenav .navigation-left .nav-item:focus,
.admcls .leftSidenav .navigation-left .nav-item:active {
  outline: none;
}

.admcls .leftSidenav .navigation-left .nav-item.lvl1 {
  text-align: center;
}

.admcls .leftSidenav .navigation-left .nav-item.active {
  color: #663399;
}

.admcls .leftSidenav .navigation-left .nav-item.active .nav-item-hold {
  color: #663399;
}

.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold {
  display: block;
  width: 100%;
  padding: 26px 0;
  color: #47404f;
}

.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold:focus,
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold:active {
  outline: none;
}

.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .nav-icon,
.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .feather {
  font-size: 32px;
  height: 32px;
  width: 32px;
  display: block;
  margin: 0 auto 6px;
}

.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold .nav-text {
  font-size: 13px;
  display: block;
  font-weight: 400;
}

.admcls .leftSidenav .navigation-left .nav-item .nav-item-hold a {
  color: #332e38;
}

.admcls .leftSidenav .navigation-left .nav-item.active .triangle {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #663399 transparent;
}

.admcls .leftSidenav-secondary {
  left: calc(-220px - 20px);
  z-index: 89;
  width: 220px;
  padding: 0.75rem 0;
  transition: all 0.24s ease-in-out;
  background: #fff;
}

.admcls .leftSidenav-secondary.open {
  left: 120px;
}

.admcls .leftSidenav-secondary header {
  display: none;
}

.admcls .leftSidenav-secondary .childNav {
  list-style: none;
  padding: 0;
  display: none;
}

.admcls .leftSidenav-secondary .childNav li.nav-item {
  display: block;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a {
  color: #332e38;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  padding: 12px 24px;
  transition: 0.15s all ease-in;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a:hover {
  background: #eee;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a.open {
  color: #663399;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a .nav-icon {
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
  color: #70657b;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a .item-name {
  vertical-align: middle;
  font-weight: 400;
}

.admcls .leftSidenav-secondary .childNav li.nav-item a .dd-arrow {
  margin-left: auto;
  font-size: 11px;
  transition: all 0.3s ease-in;
}

.admcls .leftSidenav-secondary > .childNav {
  margin: 0;
}

.admcls .leftSidenav-secondary li.nav-item.open > div > a > .dd-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.admcls .leftSidenav-secondary li.nav-item.open > div > .childNav {
  max-height: 1000px;
  overflow: visible;
}

.admcls .leftSidenav-secondary li.nav-item > div > a > .dd-arrow {
  transition: all 0.4s ease-in-out;
}

.admcls .leftSidenav-secondary li.nav-item > div > .childNav {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  transition: all 0.4s ease-in-out;
}

.admcls .leftSidenav-secondary li.nav-item > div > .childNav li.nav-item a {
  padding: 12px 12px 12px 50px;
}

.layout-sidebar-large .sidebar-overlay {
  display: none;
  position: fixed;
  width: calc(100% - 120px - 220px);
  height: calc(100vh - 80px);
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 101;
  cursor: w-resize;
}

.layout-sidebar-large .sidebar-overlay.open {
  display: block;
}





.adminwrappercls .main-content-wrap {
  transition: all 0.24s ease-in-out;
  padding: 85px 20px 20px;
  position: relative;
  min-height: calc(100vh - 80px);
  background: #fff;
}

.admcls .header .toolbar-row .topmenuicon {
  width: 20px;
  background: #f9f9f9;
  padding: 22px 15px;
  display: flex;
  align-items: center;
  box-shadow: 7px 0px 24px -11px rgba(50, 50, 50, 0.44);
  flex-wrap: wrap;
  justify-content: center;
}

.admcls .header .toolbar-row .topmenuicon div {
  width: 100%;
  height: 1px;
  background: #47404f;
  margin: 3px 0;
}
