<!-- <mat-card class="footerblock" *ngIf="user_data.type == 'admin'"> -->
        <mat-card class="footerblock" *ngIf=" router.url ==='/admin-dashboard'">
        <p>&copy; 2019 Coprright by ProBidAutoMotive.</p>
    </mat-card>
    
    <!-- <mat-card class="footerblock" *ngIf="user_data.type == 'rep'"> -->
            <mat-card class="footerblock" *ngIf="router.url ==='/rep-dashboard'">
        <p>&copy; 2019 Coprright by ProBidAutoMotive</p>
    </mat-card>
    
    <!-- <mat-card class="footerblock" *ngIf="user_data.type == 'customer'"> -->
            <mat-card class="footerblock" *ngIf="router.url === '/customer-dashboard'">
        <p>&copy; 2019 Coprright by ProBidAutoMotive.</p>
    </mat-card>