<!-- <mat-card class="footerblock" *ngIf="user_data.type == 'admin'"> -->
    <mat-card class="footerblock" *ngIf=" router.url ==='/admin-dashboard' || router.url ==='/service-listing' || router.url === '/contact-us-dashboard' || router.url === '/blog-management' || router.url === '/commission-report' || router.url === '/inventory-list' || router.url === '/manage-availability' || router.url === '/testimonial-lists-admin'|| router.url === '/commission-list' || router.url === '/customer-list-admin' || router.url === '/manage-commission' || router.url === '/newsletter-list' || router.url === '/sales-report' || router.url === '/salesrep-list-admin' || router.url === '/rsvp' || router.url === '/birddog-list' || router.url === '/manage-training' || router.url === '/manage-lessons' || router.url === '/training-center' || router.url === '/training-report' || router.url === '/my-appointment-admin' || router.url === '/create-new-inventory' || router.url === '/job-ticket' || router.url === '/social-advo-admin'">
        <p>&copy; 2019 Copyright by ProBidAutoMotive.</p>
    </mat-card>

    <!-- <mat-card class="footerblock" *ngIf="user_data.type == 'rep'"> -->
    <mat-card class="footerblock" *ngIf="router.url ==='/rep-dashboard' || router.url === '/my-appointment-rep' || router.url === '/book-an-appointment-rep' || router.url === '/my-birddog' || router.url === '/my-commission' || router.url === '/social-advo-rep' || router.url === '/customer-list-rep' || router.url === '/advance-inventory-search-user' || router.url === '/basic-inventory-search-user' || router.url === '/communication' || router.url === '/training-center-rep'">
        <p>&copy; 2019 Copyright by ProBidAutoMotive</p>
    </mat-card>

    <!-- <mat-card class="footerblock" *ngIf="user_data.type == 'customer'"> -->
    <mat-card class="footerblock" *ngIf="router.url === '/customer-dashboard' || router.url === '/book-an-appointment-user' || router.url === '/my-appointment-user' || router.url === '/mysalesrep' || router.url === '/advance-inventory-search-rep' || router.url === '/basic-inventory-search-rep'">
        <p>&copy; 2019 Copyright by ProBidAutoMotive.</p>
    </mat-card>
