.preownedlistbg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat center center !important;}

.onlineinventorylistbg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat center center !important;}

.searchinventorylistbg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat center center !important;}

.specialslistbg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat center center !important;}
