<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <h1>blogdetail</h1>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>blogdetail</h2>
            </mat-card-content>
        </span>
</mat-card>

<mat-card class="ptb-35 generalcls blogdetail">     
    <span class="mainwrappercontent">
        <p>blogdetail works!</p>
    </span>
</mat-card>

<app-footer></app-footer>