<app-header></app-header>
<mat-card class="innerpagebanner seminarsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>seminars</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>

<mat-card class="ptb-40 generalcls workshopswrapper" style="background: #f2f4f4 !important;">

  <mat-card class="event_wrapper">


    <mat-card-content class="event_right">
      <h2>PAst seminers</h2>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>
      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

    </mat-card-content>


    <mat-card-content class="event_left">

             <span class="event_blog" *ngFor="let eventsem of SeminarsdetailArry">
            <span class="event_blog_top">
           <label>{{eventsem.date}}</label>

             <p>Conference Room • {{eventsem.location}}</p>
             </span>
               <h3>{{eventsem.title}} – {{eventsem.time}}</h3>

            <img src="{{eventsem.image}}" class="event_img"  >

            <p class="event_text">  <span class="spantext" [innerHtml]="eventsem.description"></span></p>




                 <h6>Tickets:</h6>

              <label>Feb 7th Tickets on sale at: <a href="javascript:void(0);" target="_blank">www.davidwhyte2020.brownpapertickets.com</a></label>
              <label> Workshop tickets on sale at: <a href="javascript:void(0);" target="_blank">www.brownpapertickets.com/event/4306112</a></label>






                <span class="event_share_block">
                    <img src="../../../../assets/images/share_img1.jpg"  >
                    <img src="../../../../assets/images/share_img2.jpg"  >
                    <img src="../../../../assets/images/share_img3.jpg"  >
                    <img src="../../../../assets/images/share_img4.jpg"  >
                    <img src="../../../../assets/images/share_img5.jpg"  >
                    <img src="../../../../assets/images/share_img6.jpg"  >

                </span>

           </span>









    </mat-card-content>







    <span class="clear"></span>


  </mat-card>
</mat-card>

<app-footer></app-footer>