<app-header></app-header>
<mat-card class="innerpagebanner seminarsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>seminars</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>

<mat-card class="ptb-40 generalcls workshopswrapper" style="background: #f2f4f4 !important;">

  <mat-card class="event_wrapper">


    <mat-card-content class="event_right">
      <h2>PAst seminers</h2>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>
      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

      <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

    </mat-card-content>


    <mat-card-content class="event_left">

            <span class="event_blog">
            <span class="event_blog_top">
            <label>Thursday October 17, 2019</label>
            <p>Conference Room • The University of Utah 200 S. South Campus Dr. • A. Ray Building</p>
             </span>
                <h3>2nd Annual Economics Fair October 17th, 2019 – 7:00pm – 10:00pm</h3>

            <img src="../../../../assets/images/event_img1.jpg" class="event_img"  >

             <p class="event_text">  <span> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </span> </p>


<span class="event_text2">
                <label><strong>Thursday October 17, 2019</strong> Time: 7:00 – 8:30pm</label>
                <label>Location: Libby Gardner Concert Hall at The U<br/>
1375 President’s Circle, Salt Lake City, UT 84112</label>

                 <h6>Tickets:</h6>

              <label>Feb 7th Tickets on sale at: <a href="javascript:void(0);" target="_blank">www.davidwhyte2020.brownpapertickets.com</a></label>
              <label> Workshop tickets on sale at: <a href="javascript:void(0);" target="_blank">www.brownpapertickets.com/event/4306112</a></label>

</span>





                <span class="event_share_block">
                    <img src="../../../../assets/images/share_img1.jpg"  >
                    <img src="../../../../assets/images/share_img2.jpg"  >
                    <img src="../../../../assets/images/share_img3.jpg"  >
                    <img src="../../../../assets/images/share_img4.jpg"  >
                    <img src="../../../../assets/images/share_img5.jpg"  >
                    <img src="../../../../assets/images/share_img6.jpg"  >

                </span>

           </span>









    </mat-card-content>







    <span class="clear"></span>


  </mat-card>
</mat-card>

<app-footer></app-footer>