 <div class="adminwrappercls">
    <app-header></app-header>
        <div class="main-content-wrap">
          <mat-card class="generalcls blog" style="padding: 0 !important;">  
            
            <span class="searchblock">
                <span class="searchblockwrapper">
                    <span>
                        <h2>ADD TEST EMAIL </h2>
                    </span>            
                </span>
            </span>
            <lib-add-edit-testemaillib  [config]="configAddEdit"></lib-add-edit-testemaillib>

          </mat-card>
        </div> 
    </div>
  <app-footer></app-footer>