<div class="adminwrappercls">
    <app-header></app-header>
        <div class="main-content-wrap">
          <mat-card class="generalcls blog" style="padding: 0 !important;">  
            
            <span class="searchblock">
                <span class="searchblockwrapper">
                    <span>
                        <h2>ADD SENDER EMAIL  </h2>
                    </span>            
                </span>
            </span>
            <lib-add-edit-sender [config]="configAddEditSender"></lib-add-edit-sender>

          </mat-card>
        </div> 
    </div>
  <app-footer></app-footer>