
<app-header></app-header>
<mat-card class="innerpagebanner videogallerybg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>video gallery</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls videogallerywrapper" style="background: #fff !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Video gallery</h2>
            <p>Check out some videos from my past seminars, workshops and other speaking engagements. This Video gallery is updated <br>regularly. So, you can always come back to check out the videos from my latest events.</p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <img src="../../../../assets/images/videogallery_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
    </span> 
</mat-card>

<app-footer></app-footer>