
<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  
            <!-- <img src="../../../../assets/images/manage-seminars.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
            <mat-card-content class="adm_inner_banner manageblog">
              <mat-card-title class="adm_inner_title">Manage Event</mat-card-title>
              <p class="adm_inner_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type specimen book.</p>
            </mat-card-content>
            <mat-card-content class="bred_cram_wrapper">
              <a mat-list-item routerLinkActive="active" [routerLink]="'/admin-dashboard'"> Dashboard </a>
              <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/manage-event-listing'"> manage Events</a>
            </mat-card-content>

          
              <!-- <img src="../../../../assets/images/manage-speaker-engagements.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
              <span class="bloglists">      
                            
                <!-- Selector -->
                  <!-- <app-listing-blogs></app-listing-blogs> -->
                  <mat-card>
                      <span class="searchblock">
                          <span class="searchblockwrapper">
                              <span>
                                  <h2>Event listing</h2>
                              </span>
                              <span>
                                  <button mat-button class="btngreen sim-button" [routerLink]="['/manage-event/add']"><i class="material-icons">add</i> Add New EVENT</button>
                              </span>                    
                          </span>
                      </span>
                      <div class="tablediv">

                          <!-- <img src="../../../../assets/images/manage-seminars.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
                          <!-- <lib-listing-blogmanagementlib class="formfilterdiv" *ngIf="blogListConfig.datasource != null && blogListConfig.datasource.length > 0" [config]="blogListConfig"></lib-listing-blogmanagementlib> -->


                       <!-- Listing goes here  -->
        <lib-listing *ngIf="eventDataList != null && eventDataList.length>0"
            [datasource]="eventDataList"
            [skip]="eventDataList_skip" 
            [modify_header_array]="eventDataList_modify_header"
            [sourcedata]="tableName" 
            [apiurl]="apiUrl"
            [editroute]="editUrl"
            [jwttoken]="user_cookie"
            [statusarr]="status" 
            [updateendpoint]="UpdateEndpoint" 
            [deleteendpoint]="deleteEndpoint"
            [date_search_endpoint]="searchingEndpoint" 
            [date_search_source]="view" 
            [search_settings]="search_settings"
            [detail_datatype]="image_detail_datatype"
            [detail_skip_array]="detail_skip_array"
                                      
           [date_search_endpoint]="date_search_endpoint"
            >
        </lib-listing>

          <h2 *ngIf="eventDataList.length == 0">No record found.</h2>
          <!-- Listing ends here  -->

                      </div>
                  </mat-card>
              </span>
              
           


        </mat-card>
      </div>
  </div>
<app-footer></app-footer>


