

<mat-card>
        <mat-toolbar color="primary" style="justify-content: center; align-items: center;">
            <h2 class="headerSpan">Services List</h2>
        </mat-toolbar>
    
        <!-- ---------------------Button for adding new role------------------------------ -->
        <mat-toolbar class="buttonsetToolbar">
            <button class="singleButton" mat-raised-button color="primary" [routerLink]="['/service/add']">Add service</button>
        </mat-toolbar>
        
    
        <!-- to listing library -->
        <lib-servicelib [config]="serviceListConfig" ></lib-servicelib>
    </mat-card>
    
