<div class="adminwrappercls">
  <div class="admcls"><app-bk-header></app-bk-header></div>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  

            <mat-card-content class="bred_cram_wrapper_list">
                <mat-list class="bred_cram_wrapper">
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Dashboard</a> </mat-list-item>
          
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Manage website</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/affiliate-dashboard'">Manage website</a> </mat-list-item>
          
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/blog-management'">blog management</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate'"> <a [routerLink]="'/blog-management'">blog management</a> </mat-list-item>

                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin' && router.url == '/blogs/add'"> <a>Add blog</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate' && router.url == '/blogs/add'"> <a>Add blog</a> </mat-list-item>
       
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin' && activatedRoute.snapshot.routeConfig.path == 'blogs/edit/:_id'"> <a>Edit blog</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'affiliate' && activatedRoute.snapshot.routeConfig.path == 'blogs/edit/:_id'"> <a>Edit blog</a> </mat-list-item>
                  
                </mat-list>       
              </mat-card-content>


            <!-- <img src="../../../../assets/images/blogmang-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
            <span class="searchblock">
                <span class="searchblockwrapper">
                    <span>
                        <h2>ADD BLOG MANAGEMENT DATA</h2>
                    </span>            
                </span>
            </span>
            <lib-addedit-blogmanagement class="lib-addedit-blogmanagement"
                [serverUrl]="server"
                [addEndpoint]="addUrl" 
                [getDataEndpoint]="getDataUrl"
                [listRoute]="listURL"
                [singleData]="editdata" 
                [imageUpload]="configData"
                [fileUpload]="configFileData"  
                [action]="action">
            </lib-addedit-blogmanagement>
        </mat-card>
      </div> 
  </div>
<app-bk-footer></app-bk-footer>