<mat-card style="padding: 0" class="footerwrapper"  *ngIf="router.url ==='/' || router.url =='/home' || router.url =='/forget-password' || router.url =='/reset-password' || router.url =='/sign-up' || router.url == '/contactus' || router.url == '/service' || router.url == '/servicelist' || router.url == '/testimonial' || router.url == '/testimoniallist' || router.url == '/contactus' || router.url == '/blog' || router.url == '/bloglist' || router.url == '/blogdetail' || router.url == '/basic-inventory-search' || router.url == '/advance-inventory-search' || router.url == '/pre-owned' || router.url == '/aboutus' || router.url == '/pre-owned-list' || router.url == '/online-inventory-list' || router.url == '/search-inventory-list' || router.url == '/specials-list'">
  <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <a (click)="scrollToTop()">
      <!-- <i class="fa fa-chevron-up"></i> -->
      <mat-icon aria-hidden="false">keyboard_arrow_up</mat-icon> 
    </a>
  
  </span>
  <img src="../../../assets/images/pro-home-block8-ft.jpg" style="padding: 0; margin: 0; display: block; width: 100%;">
  <span class="footerbottom">
    <h3><a mat-raised-button (click)="termscondition()">terms of service</a> | <a mat-raised-button (click)="privacypolicy()">privacy policy</a> </h3>
  </span>


  <!-- <span class="mainwrappercontent">
     <mat-card-content>
       <span class="footertopwrapper footernavlist">
            <mat-nav-list>
              <span class="menuwrapper">
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/home']">Home</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/pre-owned']">Pre-Owned</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                    <a [matMenuTriggerFor]="menu1">Inventory Search</a>
                    <mat-menu #menu1="matMenu" class="activedropmenu">
                      <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/basic-inventory-search']">Basic Inventory Search</a>
                      <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/advance-inventory-search']">Advance Inventory Search</a>
                    </mat-menu>
                  </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [matMenuTriggerFor]="menu">Join Probid</a>
                  <mat-menu #menu="matMenu" class="activedropmenu">
                    <a mat-menu-item routerLinkActive="activemenu" href="https://www.probidautomotive.com/" target="_blank">Sign up as Sales Rep</a>
                    <a mat-menu-item routerLinkActive="activemenu" href="https://www.probidautomotive.com/salesrepsignup/" target="_blank">Sign up as Customer</a>
                  </mat-menu>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/aboutus']">About Us</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/service']">Service</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/testimonial']">Testimonials</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/blog']">Blog</a>
                </mat-list-item>
                <mat-list-item fxFlex routerLinkActive="activemenu">
                  <a [routerLink]="['/contactus']">Contact Us</a>
                </mat-list-item>
              </span>
          </mat-nav-list>
          <p>© 2019 ProBidAuto. All Rights Reserved</p>
        </span>
        <span class="footerddress">
          <span class="logowrapper" fxFlex><a [routerLink]="['/home']"><img src="../../assets/images/logomain.png" class="landinglogoblock1"></a></span>
        </span>
     </mat-card-content>
  </span> -->
</mat-card>


<mat-card class="adminheaderleftdiv" *ngIf="router.url ==='/service-listing' || router.url ==='/admin-dashboard' || router.url === '/contact-us-dashboard' || router.url === '/rep-dashboard'  || router.url === '/customer-dashboard' || router.url === '/blog-management'">
  <mat-card-content>
    <!-- footer -->
    <app-bk-footer></app-bk-footer>
  </mat-card-content>
</mat-card>





