<mat-card class="newsletter_modal">

    <h2>SUBSCRIBE TO OUR NEWSLETTER </h2>

    <h3>Join our Subscribers List to get the latest news, updates and special offers directly in your inbox. </h3>
    <form [formGroup]="myformnews" (submit)="donewsSubmit()">
       <mat-form-field>
            <input matInput placeholder="Name"  [formControl]="myformnews.controls['name']" >
       </mat-form-field>
        <mat-error   *ngIf="!myformnews.controls['name'].valid && myformnews.controls['name'].touched" class="errortext">Name field can not be blank</mat-error >

       <mat-form-field>
           <input matInput placeholder="Email"  [formControl]="myformnews.controls['email']">
       </mat-form-field>


        <mat-error *ngIf="myformnews.controls['email'].touched && !myformnews.controls['email'].valid
           && myformnews.controls['email'].errors.required">
            Email field can not be blank</mat-error>
        <mat-error *ngIf="myformnews.controls['email'].touched && !myformnews.controls['email'].valid
                && myformnews.controls['email'].errors.pattern">

            Email is not Valid</mat-error>

       <mat-form-field>
       <input matInput placeholder="Phone no."  [formControl]="myformnews.controls['phone']">
       </mat-form-field>
        <mat-error   *ngIf="!myformnews.controls['phone'].valid && myformnews.controls['phone'].touched" class="errortext">Phone no field can not be blank</mat-error >

       <mat-form-field>
           <input matInput placeholder="Company Name"  [formControl]="myformnews.controls['company']">
       </mat-form-field>
        <mat-error   *ngIf="!myformnews.controls['company'].valid && myformnews.controls['company'].touched" class="errortext">Company Name field can not be blank</mat-error >
       <button mat-button >Submit</button>




   </form>

  </mat-card>