.contactusbg{
    background: url(../../../../assets/images/biobanner1.png) !important;
    background-position: right top; 
}
.innerpagebanner.mat-card .mat-card-content span {
    padding-left: 0%;
}