.manageblog{background:url(../../../../assets/images/blogbgadmin.jpg) no-repeat center center !important;background-size: cover !important;}

.generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{ word-wrap: none!important;}

@media only screen and (max-width: 1199px) {

    .manageblog  {
        background-position: right top!important;
        background-size: 200%!important;     height: auto;
        padding: 15px;
    padding-right: 15px;
    text-align: center!important;
    padding-top: 28%;
    background-color: #2ca7db!important;
    padding-bottom: 30px;
    }

    .generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{     text-align: center;
        display: block;}

        .adm_inner_banner .adm_inner_para{     text-align: center!important;
            display: block!important; width: 100%!important;}
}


@media only screen and (max-width: 991px) {

    .manageblog  {    background-size: 290%!important;     padding-top: 40%;}

    .generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title{  font-size: 30px!important;}

    .adm_inner_banner .adm_inner_para{ font-size: 20px!important;}
}