<app-header></app-header>
<mat-card class="innerpagebanner contactusbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <h1>Testimonial</h1>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>Testimonial</h2>
            </mat-card-content>
        </span>
</mat-card>
  
  
  <mat-card class="testimonialwrapper generalcls">
      
    <span class="maincontainer testimonialwrappercontent">

          
          <div class="modelthumbimgwrapper">
              <div class="modelthumbimgouterwrapper">
                <div class="modelthumbimgouter">
      
                  <drag-scroll #imgsmall >
                    <div class="modelthumbimginnerwarpper" *ngFor="let testmon of TestimonialListArray; let i=index"  [ngClass]="{'active': i == mainImg}">
                      <div class="testimonialwrapper">
                        <span class="modelmodelthumbimg1" >
                          <span >
                          <img (click)="imgClick(testmon)" drag-scroll-item class="demo cursor" src="{{testmon.image}}" alt="modelmodelthumbimg1">
                        </span>
                        </span>

                          <!-- <mat-card-title drag-scroll-item class="demo cursor">{{testmon.name}}</mat-card-title>
                          <mat-card-title drag-scroll-item class="demo cursor">{{testmon.designation}}</mat-card-title>
                          <mat-card-title drag-scroll-item class="demo cursor">{{testmon.address}}</mat-card-title>
                          <mat-card-content drag-scroll-item class="demo cursor">{{testmon.quatation}}</mat-card-content> -->
                      </div>
                      
                    </div>      
                  </drag-scroll>
                  <a class="prev" (click)="moveLeft()">&#10094;</a>
                  <a class="next" (click)="moveRight($event)">&#10095;</a>
                </div>
              </div>
            </div>  




      <button mat-stroked-button class="btngeneral btngray" (click)="btnClick();">View More</button>
    </span>
  </mat-card>

  
<app-footer></app-footer>