<!-- <lib-contactus-listing [serverUrl]="serverUrl"
                       [addEndpoint]="addEndpoint"
                       [getDataEndpoint]="getDataUrl"
                       [contactUsAllDataHeader_skip]="contactUsAllDataHeaderSkip"
                       [contactUsAllDataModify_header]="contactUsAllDataModifyHeader"
                       [updateendpoint]="updateurl"
                       [deleteendpoint]="deleteurl"
                       [formTitle]="formTitle">
</lib-contactus-listing> -->

<div class="adminwrappercls">
    <app-header></app-header>
    <div class="main-content-wrap">
        Admin DASHBOARD
    </div>
</div>
<app-footer></app-footer>