<div class="bgmain gencls"><lib-contactus-listing [serverUrl]="serverUrl"
                       [addEndpoint]="addEndpoint"
                       [getDataEndpoint]="getDataUrl"
                       [contactUsAllDataHeader_skip]="contactUsAllDataHeaderSkip"
                       [contactUsAllDataModify_header]="contactUsAllDataModifyHeader"
                       [updateendpoint]="updateurl"
                       [deleteendpoint]="deleteurl"
                       [formTitle]="formTitle">
</lib-contactus-listing></div>
