<app-header></app-header>
<mat-card class="innerpagebanner servicebg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>our services</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls servicewrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Counselling Services On Offer</h2>
            <p>Choose the ideal counselling and consulting services based on your needs from a <br> host of different services aimes towards offering varying benefits.
                </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <mat-list>
            <mat-list-item class="homeblock2listssingleitem" *ngFor="let item of serviceData | slice:0:indexval ; let i=index">
                  <span class="homeblock2servimg">
                    <img src="../../../../assets/images/homeblock2itemimg1.jpg">
                  </span>
                  <span class="homeblock2servcontent">
                    <h2><span class="homeblock2icon"><img src="../../../../assets/images/homeblock2icon1.png"></span> <span class="homeblock2iconcontent">Employee Training <span class="small">(Revenue through Attitude)</span></span></h2>
                    <p><span [innerHtml]="item.description"></span></p>
                    <button mat-button class="btntransparent sim-button">view more</button>
                  </span>
            </mat-list-item>
        </mat-list>
        <button (click)="showMoreFunc()" *ngIf="serviceData !=null && indexval < serviceData.length" mat-stroked-button class="btngeneral btngray">Show more</button>
    </span> 
</mat-card>


<app-footer></app-footer>