<app-header></app-header>
<mat-card class="innerpagebanner servicebg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>our services</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls servicewrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Counselling Services On Offer</h2>
            <p>Choose the ideal counselling and consulting services based on your needs from a <br> host of different services aimes towards offering varying benefits.
                </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <!-- <img src="../../../../assets/images/service_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
        <mat-list>
            <mat-list-item class="homeblock2listssingleitem" *ngFor="let item of serviceData">
                  <span class="homeblock2servimg">
                    <img src="../../../../assets/images/homeblock2itemimg1.jpg">
                  </span>
                  <span class="homeblock2servcontent">
                    <h2><span class="homeblock2icon"><img src="../../../../assets/images/homeblock2icon1.png"></span> <span class="homeblock2iconcontent">Employee Training <span class="small">(Revenue through Attitude)</span></span></h2>
                    <p><span [innerHtml]="item.description"></span></p>
                    <button mat-button class="btntransparent sim-button">view more</button>
                  </span>
            </mat-list-item>

            <!-- <mat-list-item class="homeblock2listssingleitem">
                  <span class="homeblock2servimg">
                    <img src="../../../../assets/images/homeblock2itemimg2.jpg">
                  </span>
                  <span class="homeblock2servcontent">
                    <h2><span class="homeblock2icon"><img src="../../../../assets/images/homeblock2icon2.png"></span> <span class="homeblock2iconcontent">Couples Counseling</span></h2>
                    <p>Iron out the disturbances and troubles in your relationship with your partner, with expert counselling and guidance, and enjoy the benefits and happiness of a fruitful Couples Counselling. An improved relationship with your partner will help you focus better on other areas of your life with a peaceful mind.</p>
                    <button mat-button class="btntransparent sim-button">view more</button>
                  </span>
            </mat-list-item>
            <mat-list-item class="homeblock2listssingleitem">
                  <span class="homeblock2servimg">
                    <img src="../../../../assets/images/homeblock2itemimg3.jpg">
                  </span>
                  <span class="homeblock2servcontent">
                    <h2><span class="homeblock2icon"><img src="../../../../assets/images/homeblock2icon3.png"></span> <span class="homeblock2iconcontent">Personal Development Coaching<span class="small">(one on one)</span></span></h2>
                    <p>Discuss the challenges faced in all areas of your life, and seek expert advice on how to overcome them. Enjoy personal and professional growth and evolution through One-on-One sessions, and maintain utmost privacy of all things discussed. You will be able to achieve anything you desire with incredible success.</p>
                    <button mat-button class="btntransparent sim-button">view more</button>
                  </span>
            </mat-list-item>
            <mat-list-item class="homeblock2listssingleitem">
                  <span class="homeblock2servimg">
                    <img src="../../../../assets/images/homeblock2itemimg4.jpg">
                  </span>
                  <span class="homeblock2servcontent">
                    <h2><span class="homeblock2icon"><img src="../../../../assets/images/homeblock2icon4.png"></span> <span class="homeblock2iconcontent">High Performance Coaching<span class="small"> (business professionals)</span></span></h2>
                    <p>Get rid of all the inadequacies and limitations that stop you from performing at the top level, and take your business to unprecedented heights. Learn new and innovative ways to deal with challenges and come up with creative ideas to take your business forward. Realize your business goals with expert coaching.</p>
                    <button mat-button class="btntransparent sim-button">view more</button>
                  </span>
            </mat-list-item> -->
        </mat-list>
        <button (click)="showMoreFunc()" mat-stroked-button class="btngeneral btngray">Show more</button>
    </span> 
</mat-card>


<app-footer></app-footer>