/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../src/assets/css/style.css";
@import "../src/assets/css/admin-style.css";
@import "../src/assets/css/media.css";
@import "../src/assets/css/admin-media.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~material-icons/iconfont/material-icons.css"; */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contact-form .main-div{height:auto!important;display:inherit!important;justify-content:inherit!important;align-items:inherit!important}
.contact-form .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-suffix{display:none;}
.mat-form-field-appearance-legacy .mat-form-field-underline {height: 0 !important;}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {width: 100% !important;}
/* .mat-form-field-appearance-legacy .mat-form-field-wrapper {padding-bottom: 0 !important;}
.mat-form-field-appearance-legacy .mat-form-field-infix {padding: 5px 0 !important;} */
.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label { top: 0.5em !important;}
.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label-wrapper {top: -0.44375em !important;padding-top: .44375em !important;}
.contactusformblock button {margin-top: 50px !important;}

.example-container .mat-form-field { margin: 0 0px !important;}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {top: calc(100% - 1.66667em);}
.newslettermain .mat-form-field .mat-form-field-label{line-height: normal;}

.mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important}
.mat-form-field-label.ng-star-inserted {display: none !important}
.mat-form-field-infix {border: 0 !important}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
    background-color: #24252c;}

    .tablediv .formfilterdiv mat-toolbar-row[style] {justify-content: inherit !important;}
    .tablediv .searchbar .mat-form-field .mat-form-field-prefix, .tablediv .searchbar .mat-form-field .mat-form-field-suffix{display: flex; align-items: center;}
    .mat-form-field-appearance-legacy .mat-form-field-underline{height:inherit !important;}
    
    .tablediv .listingtestimonial .searchbar {padding-right: 236px; margin-top: -11px;}
    .tablediv .searchbar .mat-form-field{margin: 0 2px;}
    .mat-form-field-appearance-legacy .mat-form-field-infix{padding: 1em !important; background: #fff;margin-bottom: 10px;}
    
    .bloglists .tablediv .searchbar {padding-right: 200px;margin-top: -10px;}
    .blogcatlists .tablediv .searchbar {padding-right: 252px;margin-top: -10px;}
    
    .formspan .form-field-span, .formspan .mat-form-field {width: 100% !important;box-sizing: border-box; margin-bottom: 9px !important; background: transparent !important;padding: 0 !important;}
    .formspan .example-container {width: 100% !important; box-sizing: border-box;}
    
    ckeditor{margin-bottom: 9px !important; display: inline-block; width: 100%;}
    .uploadfilecontainer {width:100% !important; box-sizing: border-box;}
    .formspan h1{font-family: 'HelveticaBold'; font-size: 24px!important; line-height: normal!important; text-transform: uppercase; margin: 0; padding: 0; margin-bottom: 18px;margin-top: 25px; color: #fff; white-space: normal!important;}
    .formspan .mat-form-field-flex {align-items: center !important;}
    .lib-file-upload div.uploadfilecontainer[style]{background-color: rgb(140, 176, 195)!important;}
    .lib-addedit-blogmanagement .mat-toolbar.mat-primary{display:none}
    .lib-addedit-blogcat .mat-toolbar.mat-primary{display:none}
    .lib-addedit-testimonial .mat-toolbar.mat-primary{display:none}
    


.homeblock2listssingleitem{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex !important; flex-wrap: wrap !important;  height: auto !important; float: none !important; align-items: stretch;}
.homeblock2listssingleitem span{ flex: 1;}
.homeblock2servimg img{height: 100% !important; -o-object-fit: cover; object-fit: cover; width: 100% !important; width: auto; height: auto;}
.homeblock2servcontent h2{margin-top: 54px;font-family: 'Helvetica-Normal'; font-size: 24px!important; line-height: normal!important; text-transform: capitalize !important; font-weight: normal; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; align-items: center;padding-left: 30px;padding-right: 30px;}
.homeblock2servcontent h2 span{flex: inherit;}
.homeblock2servcontent h2 span.homeblock2iconcontent{text-align: left; margin-left: 18px;}
.homeblock2servcontent h2 span.homeblock2iconcontent span{display: block;font-family: 'Helvetica-Normal'; font-size: 14px!important; line-height: normal!important;}
.homeblock2servcontent p{padding: 0px 30px; text-align: left;}
.homeblock2servimg{overflow: hidden;}

.homeblock2listssingleitem.mat-list-item:nth-child(even) .mat-list-item-content{flex-direction: row-reverse !important;}
.homeblock2listssingleitem .mat-list-item-content{align-items: stretch !important;}
.homeblock2 .blockcontent .btnmiddle {margin: 30px auto 0px !important; display: block !important; float: none;}




.next-slide i{color:#9e9e9e; font-size: 24px; transform: rotate(-180deg); line-height: 60px;}
.prev-slide i{color:#9e9e9e; font-size: 24px; line-height: 60px;}
.contentsection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.absolute{
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.contentsection .blogsociallists {margin-top: 0px;}

.quatation a {
    float: left;
    color: #1bbef7;
    text-transform: capitalize;
    font-size: 16px;
}


.testimonialwrapper .mat-list .mat-list-item.testimonialserv .mat-list-item-content{padding: 0; display: block; position: initial !important;}

.singlecolgallarycontent .absolute {
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-top: 15px !important;
  }

  .singlecolgallarycontent .contentsection .blogsociallists {
    margin-top: 0px;
    display: inline-block;
    padding: 8px 5px;
    background: #fff;
}

.singlecolgallarycontent .contentsection .blogsociallists .sociallink fa {
    font-size: 16px;
}

.formspan .example-container .files-view {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: auto !important;
    width: 20% !important;
    margin: 0px auto 20px;
    border-radius: 10px;
  }


  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0fd183;
}



.blogheaderimgbg {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.blogheaderimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    -webkit-transition: .3s;
    transition: all .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .85;
    height: 100%!important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%!important;
}

.innerpagebanner.mat-card .mat-card-content {
    position: relative;
    margin-bottom: 0;
    z-index: 99;
}




.threecolumnlist .mat-list-item .mat-list-item-content{align-items: stretch !important;height: 100% !important;padding: 36px 10px !important;}

.contact-form .mat-form-field-appearance-legacy .mat-form-field-infix {padding: 0 !important;}
.login-form .mat-form-field-appearance-legacy .mat-form-field-infix {padding: 0 !important;}

.searchdiv .mat-form-field-appearance-legacy .mat-form-field-infix {padding: 10px !important;}