/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../src/assets/fonts/MyriadPro-Bold_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Bold_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../src/assets/fonts/MyriadPro-Semibold_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Semibold_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../src/assets/fonts/MyriadPro-Regular_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Regular_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "open_sanssemibold";
  src: url("../src/assets/fonts/opensans-semibold-webfont.eot");
  src: url("../src/assets/fonts/opensans-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/opensans-semibold-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/opensans-semibold-webfont.woff") format("woff"),
    url("../src/assets/fonts/opensans-semibold-webfont.ttf") format("truetype"),
    url("../src/assets/fonts/opensans-semibold-webfont.svg#open_sanssemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../src/assets/fonts/opensans-regular-webfont.eot");
  src: url("../src/assets/fonts/opensans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/opensans-regular-webfont.woff") format("woff"),
    url("../src/assets/fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../src/assets/fonts/opensans-regular-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Regular";
  src: url("../src/assets/fonts/Helvetica-Normal.eot");
  src: url("../src/assets/fonts/Helvetica-Normal.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Helvetica-Normal.woff2") format("woff2"),
    url("../src/assets/fonts/Helvetica-Normal.woff") format("woff"),
    url("../src/assets/fonts/Helvetica-Normal.ttf") format("truetype"),
    url("../src/assets/fonts/Helvetica-Normal.svg#Helvetica-Normal")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../src/assets/fonts/Helvetica-Bold.eot");
  src: url("../src/assets/fonts/Helvetica-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Helvetica-Bold.woff") format("woff"),
    url("../src/assets/fonts/Helvetica-Bold.ttf") format("truetype"),
    url("../src/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OrbitronBold";
  src: url("../src/assets/fonts/Orbitron-Bold.eot");
  src: url("../src/assets/fonts/Orbitron-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Orbitron-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Orbitron-Bold.woff") format("woff"),
    url("../src/assets/fonts/Orbitron-Bold.ttf") format("truetype"),
    url("../src/assets/fonts/Orbitron-Bold.svg#Orbitron-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bgmain {
  overflow-x: hidden;
  background: url("../src/assets/images/background.jpg") no-repeat center center
    fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.bgmain:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(153, 218, 255, 0.1)),
    color-stop(24%, rgba(0, 0, 0, 0.43)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  /* safari4+,chrome */
  background: -webkit-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* opera 11.10+ */
  background: -ms-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* ie10+ */
  background: linear-gradient(
    179deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99DAFF', endColorstr='#000000', GradientType=0);
  /* ie6-9 */
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.gencls {
  padding: 0px;
  margin: 0px;
}

.loginform {
  padding: 0px;
  margin: 0px;
}

.mat-card {
  border-radius: 0px !important;
  transition: none !important;
}

.footertopwrapper .mat-list-item:first-child .mat-list-item-content {
  padding-left: 0px;
}

