/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../src/assets/fonts/MyriadPro-Bold_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Bold_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../src/assets/fonts/MyriadPro-Semibold_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Semibold_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../src/assets/fonts/MyriadPro-Regular_gdi.eot");
  src: url("../src/assets/fonts/MyriadPro-Regular_gdi.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.woff") format("woff"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.ttf") format("truetype"),
    url("../src/assets/fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: "open_sanssemibold";
  src: url("../src/assets/fonts/opensans-semibold-webfont.eot");
  src: url("../src/assets/fonts/opensans-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/opensans-semibold-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/opensans-semibold-webfont.woff") format("woff"),
    url("../src/assets/fonts/opensans-semibold-webfont.ttf") format("truetype"),
    url("../src/assets/fonts/opensans-semibold-webfont.svg#open_sanssemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../src/assets/fonts/opensans-regular-webfont.eot");
  src: url("../src/assets/fonts/opensans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../src/assets/fonts/opensans-regular-webfont.woff") format("woff"),
    url("../src/assets/fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../src/assets/fonts/opensans-regular-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Regular';
  src: url('../src/assets/fonts/Helvetica-Normal.eot');
  src: url('../src/assets/fonts/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Helvetica-Normal.woff2') format('woff2'),
      url('../src/assets/fonts/Helvetica-Normal.woff') format('woff'),
      url('../src/assets/fonts/Helvetica-Normal.ttf') format('truetype'),
      url('../src/assets/fonts/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../src/assets/fonts/Helvetica-Bold.eot');
  src: url('../src/assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Helvetica-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Helvetica-Bold.woff') format('woff'),
      url('../src/assets/fonts/Helvetica-Bold.ttf') format('truetype'),
      url('../src/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'OrbitronBold';
  src: url('../src/assets/fonts/Orbitron-Bold.eot');
  src: url('../src/assets/fonts/Orbitron-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Orbitron-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Orbitron-Bold.woff') format('woff'),
      url('../src/assets/fonts/Orbitron-Bold.ttf') format('truetype'),
      url('../src/assets/fonts/Orbitron-Bold.svg#Orbitron-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}




html,
body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.bgmain {
  overflow-x: hidden;
  background: url("../src/assets/images/background.jpg") no-repeat center center
    fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.bgmain:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(153, 218, 255, 0.1)),
    color-stop(24%, rgba(0, 0, 0, 0.43)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  /* safari4+,chrome */
  background: -webkit-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* opera 11.10+ */
  background: -ms-linear-gradient(
    271deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* ie10+ */
  background: linear-gradient(
    179deg,
    rgba(153, 218, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.43) 24%,
    rgba(0, 0, 0, 1) 100%
  );
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99DAFF', endColorstr='#000000', GradientType=0);
  /* ie6-9 */
  /* background-color: rgba(0, 0, 0, 0.7); */
}


.gencls {
  padding: 0px;
  margin: 0px;
}


.loginform {
  padding: 0px;
  margin: 0px;
}

.from {
  width: 600px !important;
  margin: 0 auto;
  background-color: transparent;
}

.from {
  padding: 24px !important;
  margin: 4em auto !important;
  color: #fff !important;
  -webkit-transition: box-shadow 0.5s !important;
  transition: box-shadow 0.5s !important;
  overflow: hidden !important;
  border-radius: 10px !important;
  -webkit-transform: scale(1.03) !important;
  -moz-transform: scale(1.03) !important;
  -o-transform: scale(1.03) !important;
  -ms-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
  box-sizing: border-box !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative !important;
  z-index: 999 !important;
  /* box-shadow:none !important; */
  margin-top: -20px !important;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  -ms-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  overflow: inherit !important;
}

.from:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9) !important;
  -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9) !important;
  -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9) !important;
  -ms-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9) !important;
}

.formgenrl input.mat-input-element,
.formgenrl textarea.mat-input-element {
  outline: none;
  font-size: 1em;
  color: #000;
  padding: 0.6em;
  margin: 0;
  width: 96%;
  border: none;
  -webkit-appearance: none;
  display: block;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.formgenrl input.mat-input-element,
.formgenrl textarea.mat-input-element {
  background: #fff;
  padding: 10px;
  color: #333;
}

.formgenrl p {
  font-size: 0.9em;
  color: #fff;
  margin: 1.8em 0 0.5em;
  letter-spacing: 1px;
}

.formgenrl button {
  font-size: 1em;
  outline: none;
  cursor: pointer;
  padding: 0.6em 1em;
  -webkit-appearance: none;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.formgenrl button.mat-primary {
  color: #fff;
  /* background: #fb4a32;
  border: 1px solid #fb4a32; */
  background: #12c3e3;
  border: 1px solid #12c3e3;
  font-size: 24px;
  line-height: normal;
  width: 100% !important;
  height: auto !important;
}

.formgenrl h2 {
  text-align: center;
  background-color: transparent !important;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 15px 15px;
  font-size: 30px;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #fff;
  left: 0px;
}

.mat-form-field.mat-focused .mat-input-element {
  caret-color: #000;
}

.mat-form-field .mat-form-field-label {
  top: 1.28125em;
  line-height: 36px;
  left: 10px;
}

.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline {
  background-color: rgb(251, 74, 50);
}

.logowrapper {
  margin-top: -27% !important;
  margin-bottom: 26px !important;
  width: 350px;
}

.logowrapper img {
  max-width: 100%;
}

.pagelogowrapper {
  margin-top: 0% !important;
  margin-bottom: 0px !important;
  width: 350px;
}

.pagelogowrapper img {
  max-width: 100%;
}



.mat-card {
  border-radius: 0px !important;
  transition: none !important;
}


.topcontactinfoblock .mat-list .mat-list-item{flex: 1 1 auto; width: inherit;text-transform: uppercase;}
.topcontactinfoblock .mat-list .mat-list-item img{margin-right: 10px;}

.infoblock .mat-list .mat-list-item{flex: 1 1 auto; width: inherit;color: #a7a6a6;text-transform: uppercase;}
.infoblock .mat-list .mat-list-item span{
  border-right: 1px solid #333;
  display: inline-flex;
  padding-right: 10px;
  margin-right: 10px;
 }
 .infoblock .mat-list .mat-list-item span:last-child{border-right: 0px solid #333 !important;    padding-right: 0;
  margin-right: 0;}
.infoblock .mat-list .mat-list-item img{margin-right: 10px;}

.topsocialblock .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 5px !important;
}


.footertopwrapper .mat-list-item:first-child .mat-list-item-content {padding-left: 0px;}
.langblock select.mat-input-element:not(:disabled) {
  cursor: pointer;
  background-color: #131414;
  padding: 0px 10px;
}

.contact-form .main-div .from.mat-card {
  margin-top: 0px;
  margin: 4em auto!important;
  width: 85% !important;
  padding-left: 40% !important;
}

.contact-form .main-div .from.mat-card:hover{
  -o-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  -ms-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
}

.contactusbg{
  overflow-x: hidden;
  background: url("../src/assets/images/contactusbg.jpg") no-repeat center center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.contactusbg h1{
  text-align: center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#d0d6dd, #7d8a92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 72px;
  font-family: 'OrbitronBold';
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
}

.contactusbg .mainwrappercontent{
  position: relative;
}

.contactusbg .mat-card-content{
  height: 250px;
  position: relative;
}

.contact-form .from h2 {
  display: none;
}

.innerpagetitle{
  background-color: #e2ecee;
  padding: 20px 0px;  
  width:100%;
}

.innerpagetitle h2{
  text-align: center;
  color:#3d3d3d;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'HelveticaBold';
  display: inline-block;
}

.innerpagetitle h2:after{
  content: '';
  left: 0;
  top: 100%;
  background: #7d8a92;
  height: 2px;
  width: 100%;
  float: left;
}

.innerpagetitle .mat-card-content{margin-bottom: 0;}

.contactusblockinner{display: flex !important; justify-content: space-between; align-items: stretch;}
.contactusinfoblock{
  /* background-color: #fb4a32; */
    padding: 0px 0px;
    /* flex: 1 1 40%; */
    position: absolute;
    top: 50%;
    left: 3%;
    width: 40%;
    transform: translateY(-50%);
    height: 65%;
    z-index: 9999;
}
.contact-form .contactusinfoblock .main-div .mat-card {
  margin-top: 0px;
  margin: 4em auto !important;
}

.contactusformblock{
  flex: 1 1 100%;
    /* display: flex; */
    position: relative;
}
.contactusinfoblock .mat-card{
  box-shadow: none;
    padding: 30px 48px !important;
    background: transparent;
    height: 100%;
}
.contactusinfoblock .mat-card img{
  margin-left: -22%;
  width: 143%;
  margin-top: -20%;
}

.contactusinfoblock .mat-card h2{
  text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}

/* .contact-form .main-div .from.mat-card{
  box-shadow: none !important
}
.contact-form .main-div .from.mat-card:hover{box-shadow: none !important;} */


@media only screen and (max-width: 991px){
.contactusinfoblock {
  padding: 0px 0px;
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  transform: inherit;
  height: auto;
  z-index: 9999;
}
.contactusinfoblock .mat-card {
  box-shadow: none;
  padding: 30px 48px !important;
  background: transparent;
  height: auto;
}
.contact-form .main-div .from.mat-card {
  margin: 0 !important;
  width: 100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
}