<app-header></app-header>
<mat-card class="innerpagebanner seminarsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>seminars</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls seminarswrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>upcoming seminars</h2>
            <p>
                View the schedule for all upcoming Seminars and book your seat(s) in advance so that you don’t have to miss out on an all-important event that<br> could have a life-changing impact. You can also contact me to speak at a seminar in your community!
            </p>
        </mat-card-content>
    </span>





    <mat-card class="event_wrapper">


        <mat-card-content class="event_right">
            <h2>PAst seminers</h2>

            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>
            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

            <span class="event_right_blog">

                <span class="event_right_blog_img">
                     <img src="../../../../assets/images/event_img1.jpg"  >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected </p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>


            </span>

        </mat-card-content>


        <mat-card-content class="event_left">

            <span class="event_blog">
            <span class="event_blog_top">
            <label>Thursday October 17, 2019</label>
            <p>Conference Room • The University of Utah 200 S. South Campus Dr. • A. Ray Building</p>
             </span>
                <h3>2nd Annual Economics Fair October 17th, 2019 – 7:00pm – 10:00pm</h3>

            <img src="../../../../assets/images/event_img1.jpg" class="event_img"  >

             <p class="event_text">  <span> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage... </span> <a href="javascript:void(0);" [routerLink]="['/seminars-detail']">Continue Reading</a></p>


                <span class="event_share_block">
                    <img src="../../../../assets/images/share_img1.jpg"  >
                    <img src="../../../../assets/images/share_img2.jpg"  >
                    <img src="../../../../assets/images/share_img3.jpg"  >
                    <img src="../../../../assets/images/share_img4.jpg"  >
                    <img src="../../../../assets/images/share_img5.jpg"  >
                    <img src="../../../../assets/images/share_img6.jpg"  >

                </span>

           </span>


            <span class="event_blog">
            <span class="event_blog_top">
            <label>Thursday October 17, 2019</label>
            <p>Conference Room • The University of Utah 200 S. South Campus Dr. • A. Ray Building</p>
             </span>
                <h3>2nd Annual Economics Fair October 17th, 2019 – 7:00pm – 10:00pm</h3>

            <img src="../../../../assets/images/event_img2.jpg" class="event_img"  >

             <p class="event_text">  <span> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage... </span> <a href="javascript:void(0);" [routerLink]="['/seminars-detail']">Continue Reading</a></p>


                <span class="event_share_block">
                    <img src="../../../../assets/images/share_img1.jpg"  >
                    <img src="../../../../assets/images/share_img2.jpg"  >
                    <img src="../../../../assets/images/share_img3.jpg"  >
                    <img src="../../../../assets/images/share_img4.jpg"  >
                    <img src="../../../../assets/images/share_img5.jpg"  >
                    <img src="../../../../assets/images/share_img6.jpg"  >

                </span>

           </span>



            <span class="eventpagination">

                <span><i class="material-icons">
keyboard_arrow_left
</i>Previous</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>...</span>
                <span>5</span>
                <span>Next <i class="material-icons">
keyboard_arrow_right
</i></span>
            </span>


        </mat-card-content>







<span class="clear"></span>


    </mat-card>


</mat-card>

<app-footer></app-footer>
