<app-header></app-header>
<mat-card class="innerpagebanner seminarsbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>seminars</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls seminarswrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>upcoming seminars</h2>
            <p>
                View the schedule for all upcoming Seminars and book your seat(s) in advance so that you don’t have to miss out on an all-important event that<br> could have a life-changing impact. You can also contact me to speak at a seminar in your community!
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <img src="../../../../assets/images/seminars_blockimg1.png" style="width: 100%; display: block; margin: 0; padding: 0;">
    </span> 
</mat-card>

<app-footer></app-footer>
