<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  
            <!-- <img src="../../../../assets/images/blogmang-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
            <span class="searchblock">
                <span class="searchblockwrapper">
                    <span>
                        <h2>ADD BLOG MANAGEMENT DATA</h2>
                    </span>            
                </span>
            </span>
            <lib-addedit-blogmanagement class="lib-addedit-blogmanagement"
                [serverUrl]="server"
                [addEndpoint]="addUrl" 
                [getDataEndpoint]="getDataUrl"
                [listRoute]="listURL"
                [singleData]="editdata" 
                [imageUpload]="configData"
                [fileUpload]="configFileData"  
                [action]="action">
            </lib-addedit-blogmanagement>
        </mat-card>
      </div> 
  </div>
<app-footer></app-footer>